{% extends '../layout.html' %}

{% block title %} Verbatims {% endblock %}

{% block styles %}

<style>
    html, body {
        height: 100%;
    }

    .ui.grid {
        height: 95%;
    }
    #main-nav{
        height: 44px;
    }
</style>


{% endblock %}

{% block body %}

{% include '../sidebar.html' %}

<div class="pusher" style="height: 100%;overflow: hidden;">

    {% include '../header.html' %}

    <div class="ui grid" id="main-body">

        <div class="row">
            <div id="main-container" class="seven wide column" style="padding-right: 25px;">
                <div class="ui grid">
                    <div id="container-wordcloud" class="sixteen wide column ar-container ar-border-right">

                    </div>
                    <div id="container-search-history" class="sixteen wide column ar-container ar-border-right">
                        <span style="position: absolute;top: 10px; right: 10px;color: grey">Search Histroy</span>
                        <ul></ul>
                    </div>
                </div>
            </div>
            <ul id="container-verbatims" class="nine wide column ar-container">
                <li id="container-verbatims-init-box" class="ui raised very padded text container segment"
                     style="margin-top: 5%">
                    <h2 class="ui header">Choose a Data Set </h2>
                </li>
                <!--<div id="container-verbatims-load-more" >Hello wORLD!</div>-->
            </ul>
        </div>
    </div>
</div>

<div id="container-verbatims-backup" style="display: none;">
    <ul></ul>
</div>

<div id="container-tagged-verbatims" class="ui fullscreen modal">
    <i class="close icon"></i>
    <div class="header">
        Tagged Verbatims
    </div>
    <div class="content">
        <ul class="description">
            A description can appear on the right
        </ul>
    </div>
    <div class="actions"></div>
</div>

{% endblock %}


{% block scripts %}
<script src="/js/templates.js"></script>
<script src="/js/verbatims.js"></script>
<script>
    $('#menu-nav-location').text('Verbatims')
</script>
{% endblock %}