{% extends '../layout.html' %}

{% block title %} Verbatims {% endblock %}

{% block styles %}

<style>
    html, body {
        height: 100%;
    }

    .ui.grid {
        height: 95%;
    }

    #main-nav {
        height: 44px;
    }

    .concept-list, .verbatim-divider .c {
        display: none;
    }
</style>

{% endblock %}

{% block body %}

{% include '../sidebar.html' %}

<div class="pusher" style="height: 100%;overflow: hidden;">
    {% include '../header.html' %}
    <div class="ui grid" id="main-body">
        <div class="row">
            <div id="main-container" class="seven wide column" style="padding-right: 25px;">
                <div class="ui grid">
                    <!-- WORDCLOUDS -->
                    <div class="ui top attached tabular menu" style="border-right:solid 1px #ECECEC">
                        <a class="item active" data-tab="nouns">nouns</a>
                        <a class="item" data-tab="verbs">verbs</a>
                        <a class="item" data-tab="adjectives">adjectives</a>
                        <!--<a class="item" data-tab="concept">concept</a>-->
                    </div>
                    <div id="container-wordcloud-nouns"
                         class="ui bottom attached tab segment wordcloud-container active"
                         data-tab="nouns" style="margin:0;border-color: #ECECEC;"></div>
                    <div id="container-wordcloud-verbs" class="ui bottom attached tab segment wordcloud-container"
                         data-tab="verbs" style="margin:0;border-color: #ECECEC;"></div>
                    <div id="container-wordcloud-adjectives" class="ui bottom attached tab segment wordcloud-container"
                         data-tab="adjectives" style="margin:0;border-color: #ECECEC;"></div>
                    <!--<div id="container-wordcloud" class="ui bottom attached tab segment wordcloud-container"-->
                    <!--data-tab="concept" style="margin:0"></div>-->
                    <!-- /WORDCLOUDS -->
                    <div id="container-search-history" class="sixteen wide column ar-container ar-border-right">
                        <span style="position: absolute;top: 10px; right: 10px;color: grey">Search Histroy</span>
                        <ul></ul>
                    </div>
                </div>
            </div>
            <ul id="container-verbatims" class="nine wide column ar-container">
                <li id="container-verbatims-init-box" class="ui raised very padded text container segment"
                    style="margin-top: 5%">
                    <h2 class="ui header">Choose a Data Set </h2>
                </li>


                <!-- EXPERIMENTAL AREA -->


                <br>
                <br>

                <!-- / EXPERIMENTAL AREA -->
            </ul>
        </div>
    </div>
</div>

<div id="container-verbatims-backup" style="display: none;">
    <ul></ul>
</div>

<div id="container-tagged-verbatims" class="ui modal">
    <i class="close icon"></i>

    <div class="header">
        Tag Verbatim
    </div>
    <div class="content">
        <div class="description">
            <div class="ui right labeled left icon input" style="width: 100%">
                <i class="tags icon"></i>
                <input id="input-tagged-verbatims" type="text" placeholder="Enter tags">
                <a class="ui tag label" style="background: #151515;color: white;" onclick="addTag()">Add Tag</a>
            </div>
            <div class="tag-list">
            </div>
        </div>
    </div>
    <div class="actions"></div>
</div>

<div id="container-dataset" class="ui modal">
    <i class="close icon"></i>
    <div class="header">Datasets</div>
    <div class="content">
        <div class="description">
            <div id="dataset-list"></div>
        </div>
    </div>
    <div class="actions"></div>
</div>

{% endblock %}


{% block scripts %}
<script src="/js/templates.js"></script>
<script src="/js/verbatims/search.js"></script>
<script src="/js/verbatims/topics.js"></script>
<script src="/js/verbatims/verbatimlist.js"></script>
<script src="/js/verbatims/favorite.js"></script>
<script src="/js/verbatims/wordcloud.js"></script>
<script src="/js/verbatims/tag.js"></script>
<script src="/js/verbatims.js"></script>
{% endblock %}