{% extends 'layout.html' %}

{% block title %} Cross Analysis {% endblock %}

{% block styles %}
<style>
    .axis {
        font-family: roboto-bold, serif;
        font-size: 12px;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.axis path {
        display: none;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.axis path {
        display: none;
    }

    .d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
        width: 100%;
        line-height: 1;
        color: rgba(0, 0, 0, 0.8);
        content: "\25BC";
        position: absolute;
        text-align: center;
    }

    /* Style northward tooltips differently */
    .d3-tip.n:after {
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
    }

    .bar {
        cursor: pointer;
        opacity: 1;
    }

    .verbatim-list li {
        list-style-type: none;
    }

    /*.verbatim-list-options{*/
    /*visibility: hidden;*/
    /*}*/

    /*.verbatim-list-container:hover > .verbatim-list-options{*/
    /*visibility: visible;*/
    /*}*/

    .ar-container-options .minus {
        display: none;
    }

</style>
{% endblock %}

{% block body %}

{% include 'sidebar.html' %}

<div class="pusher" style="height: 100%;background: #EEF0F2;">

    {% include 'header_sticky_2.html' %}

    <div id="main-container" style="padding-top:60px;background: #EEF0F2;">
        <div class="ui grid" style="padding-right: 0;">

            <!-- OPTIONS -->
            <div class="ui five wide column">
                <div id="container-options" class="ui top fixed vertical menu"
                     style="min-width:400px;width:30%;top:65px;padding-bottom:15px;z-index:5;">
                    <h2 class="ui header" style="color:white;background:#1b1c1d;padding: 10px 5px;">
                        <i class="options icon"></i>
                        <div class="content" style="">
                            Controls
                        </div>
                    </h2>
                    <h3 class="ui dividing header" style="padding-left:20px;position:relative;">
                        Activated Datasets
                        <i class="ui add green icon cursor" style="font-size:20px;position:absolute;right:10px;"
                           onclick="openChooseDataSetModal()"></i>
                    </h3>
                    <!-- DATASETS ACTIVATED -->
                    <div style="padding: 0 20px;">
                        <div class="list-datasets" style="padding: 8px 10px;max-height:200px;overflow:auto;"></div>
                    </div>
                    <!--EXPERIMENTAL AREA -->
                </div>
            </div>

            <!--STATISTICS -->
            <div id="container-stats" class="ui eleven wide column"
                 style="overflow:auto;padding-right:30px;z-index:10;">
            </div>

            <!-- VERBATIMS -->
            <div id="container-verbatims" class="ui zero wide column"></div>
        </div>
    </div>

    {% include 'footer.html' %}
</div>

<!-- DATASET MODAL -->
<div id="container-dataset" class="ui modal" style="height:350px;">
    <i class="close icon"></i>
    <div class="header" style="color:grey;">Choose your Dataset</div>
    <div class="content">
        <div class="description">
            <form class="ui form">
                <div class="field">
                    <h3>Project</h3>
                    <div class="ui fluid search selection dropdown dropdown-project">
                        <input type="hidden" name="project">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Project</div>
                        <div class="menu"></div>
                    </div>
                </div>
                <div class="field">
                    <h3>Datasets</h3>
                    <div class="ui fluid search selection dropdown dropdown-dataset">
                        <input type="hidden" name="dataset">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Dataset</div>
                        <div class="menu"></div>
                    </div>
                </div>
                <div class="ui error message visible">
                    <div class="header"></div>
                </div>
            </form>
        </div>
        <div class="actions" style="margin-top:50px;">
            <div class="two ui buttons">
                <div class="ui green button trigger-topic">
                    Go
                </div>
            </div>
        </div>
    </div>
</div>

<!-- WCA MODAL -->
<div id="modal-wca" class="ui long modal">
    <i class="close icon" style=""></i>
    <div class="header" style="">Word Cross Analysis</div>
    <div class="content" style="height:400px;">
        <div class="description" style="">
            <!-- WORDLIST TEXTAREA -->
            <div class="ui form">
                <div class="field">
                    <span style="font-weight:bold;font-size:14px;">Enter List of words Seperated by Comma </span>
                    <div style="text-align:right;">
                        <span style="font-size:10px;">Example: france,EDF,GDF,contract </span>
                    </div>
                    <textarea name="words"></textarea>
                </div>
                <div class="ui error message visible">
                    <div class="header"></div>
                </div>
            </div>

            <h3 class="ui dividing header" style="padding-left:20px;position:relative;">
                Words
            </h3>
            <!-- LIST OF CURRENT TAGS -->
            <div class="word-list"></div>
        </div>
    </div>
    <div class="actions">
        <div class="ui green button" onclick="WCAEngine.setWords()">Done</div>
    </div>
</div>

<!-- ICA MODAL -->
<div id="modal-ica" class="ui long modal">
    <i class="close icon" style=""></i>
    <div class="header" style="">Insights Cross Analysis</div>
    <div class="content" style="height:350px;">
        <div class="description" style="">

            <form class="ui form">
                <div class="field">
                    <label>Insights</label>
                    <select name="insights" multiple="" class="ui fluid search selection dropdown ignore-dropdown">
                        <option value="">Choose the insights</option>
                    </select>
                </div>
            </form>

            <h4 class="ui dividing header">Activated Insights</h4>
            <!-- LIST OF CURRENT INSIGHTS -->
            <div class="insight-list"></div>
        </div>
    </div>
    <div class="actions">
        <div class="ui green button" onclick="InsightCAEngine.setInsights()">Done</div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script src="/ext/d3.tip.v0.6.3.js"></script>
<script src="/js/utils/topicmenu.js"></script>
<script src="/js/templates.js"></script>
<script src="/js/verbatims/verbatimlist.js"></script>
<script src="/js/verbatims/tag.js"></script>
<script src="/js/crossanalysis/cadashboard.js"></script>
<script src="/js/crossanalysis/wca.js"></script>
<script src="/js/crossanalysis/ica.js"></script>
<script src="/js/utils/charts.js"></script>
<script src="/js/utils/tables.js"></script>
<script src="/js/crossanalysis.js"></script>
{% endblock %}