{% extends 'layout.html' %}

{% block title %} Dashboard {% endblock %}

{% block styles %}
<link rel="stylesheet" href="/cmps/jquery-ui/themes/base/jquery-ui.min.css"/>
<script src="/cmps/jquery-ui/jquery-ui.min.js"></script>
<style>
    html, body {
        height: 100%;
        overflow: hidden;
    }

    .axis {
        font-family: roboto-bold, serif;
        font-size: 12px;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.axis path {
        display: none;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.axis path {
        display: none;
    }

    .d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
        width: 100%;
        line-height: 1;
        color: rgba(0, 0, 0, 0.8);
        content: "\25BC";
        position: absolute;
        text-align: center;
    }

    /* Style northward tooltips differently */
    .d3-tip.n:after {
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
    }

    .bar {
        cursor: pointer;
        opacity: 1;
    }

    .ui.grid {
        height: 95%;
    }

    #draggable1, #draggable2 {
        width: 100px;
        height: 100px;
        padding: 0.5em;
        float: left;
        margin: 10px 10px 10px 0;
    }

    #droppable {
        width: 250px;
        height: 350px;
        padding: 0.5em;
        float: left;
        margin: 10px;
    }

    .container-dir {
        width: 100%;
        height: 200px;
        background: none !important;
        z-index: 100;
        position: relative;
    }

    .container-dir .list {
    }

    .dataset {
        background: #2185D0;
        color: white;
        font-family: roboto;
        padding: 10px !important;
        min-height: 40px;
        border-radius: 5px;
        margin-bottom: 10px;
        z-index: 500;
    }

    .dataset:hover {
        box-shadow: 0 0 6px #232323;
    }

    .project.project-visible {
        box-shadow: 0 0 2px #232323;
    }

    .hide {
        display: none;
    }

    .masthead .card {
        position: relative;
        cursor: pointer;
        background: white !important;
        box-shadow: 0 0 10px #5E5252 !important;
    }

    .masthead .card .content {
        font-family: roboto;
        height: 200px;
    }

    .masthead .card .content .description {
        font-size: 15px;
        font-family: roboto;
    }

    .masthead .card .content .footer {
        position: absolute;
        bottom: 35px;
        left: 45%;
    }
</style>

{% endblock %}

{% block body %}

{% include 'sidebar.html' %}

<div class="pusher" style="height: 100%;overflow-x:hidden !important;overflow-y:scroll !important;">


    <div class="ui grid" id="main-body" style="background: #EEF0F2;height:105%;">

        <div class="sixteen wide column" style="">

            {% include 'header_sticky.html' %}

            <!--  -->
            <div class="ui inverted vertical masthead center aligned segment" style="padding: 80px 50px 50px;">
                <h1 class="ui inverted header" style="margin-top:0;">
                    Welcome to Insight<span style="color:#58a5ff;">E</span> Plat<span style="color:#58a5ff;">F</span>orm
                </h1>
                <div>
                    <img src="/img/client/{{ user.company }}.png" style="width:200px;"/>
                </div>
                <p style="font-size:20px;"></p>
            </div>

            <div class="ui inverted vertical masthead center aligned segment"
                 style="background: rgba(244,83,104,0.9);padding-top:80px;padding-bottom:80px;color:black !important;">
                <div class="ui equal width stackable internally celled grid">
                    <div class="center aligned row">
                        <div class="column">
                            <div class="ui cards" style="display:inline-block">
                                {% set url = 'verbatims'|route  %}
                                <div class="card" onclick="redirectPageTo('{{ url }}')">
                                    <div class="content">
                                        <div class="header">Explore</div>
                                        <div class="meta">Step 1</div>
                                        <div class="description">
                                            Search and explore to uncover concepts and consumer insights.
                                            <div class="footer" style="font-size:50px;padding-top:30px;">1</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="ui cards" style="display:inline-block">
                                {% set url = 'sentiment'|route  %}
                                <div class="card" onclick="redirectPageTo('{{ url }}')">
                                    <div class="content">
                                        <div class="header">Sentiment</div>
                                        <div class="meta">Step 2</div>
                                        <div class="description">
                                            Analyse and compare the sentiments and tonality in all your datasets.
                                            <div class="footer" style="font-size:50px;padding-top:30px;">2</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="ui cards" style="display:inline-block">
                                {% set url = 'tags'|route  %}
                                <div class="card" onclick="redirectPageTo('{{ url }}')">
                                    <div class="content">
                                        <div class="header">Tagged</div>
                                        <div class="meta">Step 3</div>
                                        <div class="description">
                                            Discover your tagged insights, and let InsightE predict more
                                            <div class="footer" style="font-size:50px;padding-top:30px;">3</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="ui cards" style="display:inline-block">
                                {% set url = 'heatmaps'|route  %}
                                <div class="card" onclick="redirectPageTo('{{ url }}')">
                                    <div class="content">
                                        <div class="header">Geo-Localise</div>
                                        <div class="meta">Step 4</div>
                                        <div class="description">
                                            Discover locations in the datasets through the Geo-Localized heatmaps
                                            <div class="footer" style="font-size:50px;padding-top:30px;">4</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>


            <!-- PROJECTS -->
            <div class="ui segment divided grid" style="overflow-x:hidden;height: auto !important;">
                <div class="row">
                    <div class="ui sixteen wide column" style="">
                        <div class="ui top attached menu" style="border: none !important;">
                            <div class="ui item" style="position: relative;">
                                <div class="ui small header">MONITOR YOUR PROJECTS</div>
                            </div>
                            <div class="right menu">
                                <button class="ui labeled blue icon button" onclick="ProjectModal.createProject()">
                                    <i class="plus icon"></i>
                                    Create new Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="min-height:300px;">
                    <div class="four wide column" style="max-height: 400px;overflow:auto;padding:20px 15px;">
                        <div id="list-project" class="ui relaxed divided list"></div>
                    </div>
                    <div class="twelve wide column" style="font-family:roboto !important;">
                        <div id="tmp-project" style="text-align:center;">
                            <!--<h2>Welcome to your Dashboard</h2>-->
                            <!--<div style="width:40%;display:inline-block;text-align:left;margin-left:100px;">-->
                            <!--<div class="ui bulleted list" style="margin-left:50px;">-->
                            <!--<div class="item">Monitor Your Projects</div>-->
                            <!--<div class="item">Organize your datasets</div>-->
                            <!--</div>-->
                            <!--</div>-->
                        </div>
                        <div class="ui grid">
                            <div id="project-info" class="two wide column">
                                <div class="ui list hide">
                                    <div class="item"><span style="font-size:10px;">TOTAL VERBATIMS </span>
                                        <span class="total-count"></span>
                                    </div>
                                </div>
                            </div>
                            <div id="project-chart-topics" class="fourteen wide column"></div>
                            <div id="project-chart-teams" class="eight wide column"></div>
                            <div id="project-chart-users" class="eight wide column"></div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- DATASETS -->
            <div class="ui segment divided grid" style="overflow-x:hidden;height: auto !important;">
                <div class="row">
                    <div class="ui sixteen wide column" style="height: 70px;">
                        <div class="ui top attached menu" style="border: none !important;">
                            <div class="ui item" style="position: relative;">
                                <div class="ui small header">ORGANISE YOUR DATASETS</div>
                                <p style="position:absolute;bottom:-6px;left:20px;width:400px;line-height:14px;font-size:10px;">
                                    Drag and drop your datasets into folders <br> to organize your work better
                                </p>
                            </div>
                            <!-- DEPRECATE DIRECTORIES -->
                            <!--<div class="right menu">-->
                            <!--<div class="ui right item ">-->
                            <!--<div class="ui icon button circular green popup-trigger"-->
                            <!--data-content="Add a folder" onclick="addDirectory()">-->
                            <!--<i class="ui icon plus" style=""></i>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                <div class="row" style="min-height:500px;">
                    <div class="twelve wide column">
                        <div id="tmp-dataset" class="sixteen wide column" style="text-align:center;">
                            <!--<h2>Click on a project!</h2>-->
                        </div>
                        <div id="list-dir" class="ui grid"></div>
                    </div>
                    <div class="four wide column" style="position:relative;">
                        <button id="edit-topic-trigger" class="circular ui icon button"
                                style="position:absolute;right:20px;top:0;display:none;">
                            <i class="icon pencil"></i>
                        </button>
                        <div class="card sixteen wide column topic-details">
                            <div class="content">
                                <h3 class="header topic-title" style=""></h3>
                                <div class="description">
                                    <table class="ui very basic collapsing celled table">
                                        <tbody id="list-detail"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL NEW DIRECTORY -->
    <div id="modal-new-directory" class="ui basic modal">
        <i class="close icon"></i>
        <div class="header">
            Create New Directory
        </div>
        <div class="image content">
            <div class="image">
                <i class="folder open icon"></i>
            </div>
            <div class="description" style="width:100%;">
                <div class="ui form">
                    <div class="field">
                        <input type="text" placeholder="Directory Name">
                    </div>
                    <button class="ui green button" style="float:right;">CREATE</button>
                    <p class="error-message" style="font-family:roboto;"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL EDIT TOPIC -->
    <div id="modal-topic" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Edit Topic
        </div>
        <div class="content" style="font-family: roboto !important;">
            <form class="ui form" id="">
                <div class="field">
                    <label>Topic Name</label>
                    <input type="text" name="name" placeholder="topic name">
                </div>
                <div class="field">
                    <label>Project</label>
                    <input type="text" name="project" placeholder="project name" disabled>
                    <!-- DEPRECATED CHOOSING PROJECT -->
                    <!--<select name="project" class="ui fluid search selection dropdown">-->
                    <!--<option value="">Choose the project this dataset belongs</option>-->
                    <!--</select>-->
                </div>
                <div class="field">
                    <label>Teams</label>
                    <select name="organizations" multiple="" class="ui fluid search selection dropdown">
                        <option value="">Choose the organizations who have access to this dataset</option>
                    </select>
                </div>
                <div class="field">
                    <label>Users</label>
                    <select name="users" multiple="" class="ui fluid search selection dropdown">
                        <option value="">Choose the users who have access to this dataset</option>
                    </select>
                </div>
                <input type="hidden" name="topicid">
                <div class="ui error message">
                    <div class="header">
                        You must choose a project!
                    </div>
                </div>
            </form>
        </div>
        <div class="actions">
            <div class="ui button blue" onclick="submitFormTopic()">Update</div>
        </div>
    </div>

    <!-- CREATE PROJECT MODAL -->
    <div id="modal-project" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Project
        </div>
        <div class="content" style="font-family: roboto !important;">
            <form class="ui form">
                <div class="field">
                    <label>Project Name</label>
                    <input type="text" name="name" placeholder="project name">
                </div>
                <div class="field">
                    <input type="hidden" name="action">
                </div>
                <div class="field">
                    <input type="hidden" name="id">
                </div>
                <div class="ui error message">
                    <div class="header"></div>
                </div>
            </form>
        </div>
        <div class="actions">
            <div class="ui button green" onclick="ProjectModal.submit()">Done</div>
        </div>
    </div>

    {% include 'footer.html' %}
</div>


{% endblock %}


{% block scripts %}
<script src="/ext/d3.tip.v0.6.3.js"></script>
<script src="/js/templates.js"></script>
<script src="/js/utils/charts.js"></script>
<script src="/js/dashboard/project.js"></script>
<script src="/js/dashboard/workspace.js"></script>
<script src="/js/dashboard.js"></script>
{% endblock %}