{% extends 'layout.html' %}

{% block title %} Dashboard {% endblock %}

{% block styles %}
<style>
    tr:hover {
        background: whitesmoke;
    }

    .tutorial .card {
        border: none !important;
        box-shadow: none !important;
    }

    .tutorial .arrow-card {
        padding: 5% 0 0 0 !important;
        min-height: 80px !important;
    }

    .tutorial .button-card {
        padding: 3% 0 0 0 !important;
        min-height: 80px !important;
    }

    .tutorial .card .arrow-content {
        position: relative !important;
        left: 15% !important;
        font-size: 80px !important;
    }

    .tutorial .card .button-content {
        position: relative !important;
        left: 11% !important;
        font-size: 80px !important;
    }

    .tutorial .card .arrow.right.icon {
        font-size: 80px !important;
    }

    .tutorial .card .button {
        padding: 25px 32px !important;
    }

    td {
        font-family: roboto;
    }

</style>
{% endblock %}

{% block body %}

{% include 'sidebar.html' %}

<div class="pusher" style="height: 100%;overflow-x:hidden !important;overflow-y:scroll !important;">

    <div class="ui grid" id="main-body" style="background: #EEF0F2;height:105%;">
        <div class="sixteen wide column" style="padding:60px;">
            {% include 'header_sticky.html' %}

            <!-- EXTRACTION STAGES -->
            <div class="ui segment container tutorial">
                <h2 class="ui header dividing">
                    <i class="settings icon"></i>
                    <div class="content">
                        Extraction Process
                    </div>
                </h2>

                <div class="ui five stackable cards">
                    <div class="card button-card">
                        <div class="button-content">
                            <button class="ui blue button">Uploaded</button>
                        </div>
                    </div>
                    <div class="card arrow-card">
                        <div class="arrow-content">
                            <i class="ui arrow right grey icon"></i>
                        </div>
                    </div>
                    <div class="card button-card">
                        <div class="button-content">
                            <button class="ui olive button">Queued</button>
                        </div>
                    </div>
                    <div class="card arrow-card">
                        <div class="arrow-content">
                            <i class="ui arrow right grey icon"></i>
                        </div>
                    </div>
                    <div class="card button-card">
                        <div class="button-content">
                            <button class="ui green button">Extracting</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- DATASETS -->
            <div class="ui top attached menu">
                <div class="ui item">
                    <h3>Datasets</h3>
                </div>
            </div>
            <div class="ui bottom attached segment"
                 style="background:#F2711C;min-height:100px;overflow-y:auto;">

                <table id="table-dataset" class="ui celled padded table">
                    <thead>
                    <tr>
                        <th style="font-family:roboto-bold;">Dataset</th>
                        <th class="" style="font-family:roboto-bold;">Project</th>
                        <th style="width:50px;font-family:roboto-bold;">Lang</th>
                        <th style="width:100px;font-family:roboto-bold;">Status</th>
                        <th style="font-family:roboto-bold;">Progress</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>

        </div>
    </div>

    {% include 'footer.html' %}
</div>

{% endblock %}


{% block scripts %}
<script src="/js/templates.js"></script>
<script src="/js/extractprogress.js"></script>
{% endblock %}