<div style="position:fixed;bottom:0;left:0;z-index:3000">
    <a href="http://thedatastrategy.com/" target="_blank">
        <span style="font-family:roboto-light;font-size:9px;position:relative;bottom:25px;left:38px;">powered by</span>
         <span style="font-family:roboto-light;position: absolute;bottom:6px;left:2px;">
            <img style="width:95px;" src="/img/tds-logo.png"/>
        </span>
    </a>

</div>