<div id="main-nav" class="ui top fixed stackable menu">
    <span id="trigger-sidebar" class="item cursor"><i class="sidebar icon"></i></span>
    <!-- LOGO -->
    <span class="item" style="position:relative;font-family:roboto-black;width: 195px;">
        <span style="position:relative;bottom:4px;font-size:12px;">InsightE</span>
        <span style="font-family:roboto-light;position: absolute;bottom:7px;left:49px;font-size:9px;">
            powered by <span style="font-family:lato;font-size:10px;"> The Data Strategy </span>
        </span>
    </span>
    <!-- /LOGO -->

    <!--<span id="menu-nav-text-3" class="ui right item" style="padding: 3px 5px;width:50%"></span>-->

    {% if menu_shortcut %}
    <div class="ui compact menu" style="box-shadow: none !important;border: none !important;">
        <div class="ui simple dropdown item" style="z-index:500;">
            <span id="menu-nav-location" class="item" style="font-weight:bold;padding:0;"></span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" data-item="verbatim" href="{{ 'verbatims'|route }}?a_s=true">Verbatims</a>
                <a class="item" data-item="tagged" href="{{ 'tags'|route }}?a_s=true">Tagged</a>
            </div>
        </div>
    </div>
    {% else %}
    <span id="menu-nav-location" class="item" style="font-weight:bold;"></span>
    {% endif %}

    <div id="container-topic-dropdown" class="ui simple dropdown icon item">
        <i class="world icon" style="margin-right: 10px;"></i>
        <span id="menu-nav-text-2">Choose Dataset</span><i class="dropdown icon"></i>
        <div id="container-topics" class="menu" style="max-height:300px;overflow:auto;">
            <!--<div class="item">Arabic</div>-->
        </div>
    </div>

    <!--<span id="menu-nav-text-2" class="ui right item"></span>-->
    <span id="menu-nav-text-3" class="ui right item" style="padding: 3px 5px;width:50%"></span>
    <span class="ui right item" style="padding: 0 8px;">
        <div id="menu-nav-text" class="ui buttons">
        </div>
    </span>
</div>

<script>
    function setCurrentHeaderLocation(text, location) {
        var container = $('#menu-nav-location')
        var parent = container.parent()
        container.text(text)
        parent.find('.item[data-item="' + location + '"]').addClass('active')
    }
</script>