<div id="main-nav" class="ui stackable menu">
    <span id="trigger-sidebar" class="item cursor"><i class="sidebar icon"></i></span>

    <!-- LOGO -->
    <span class="item" style="position:relative;font-family:roboto-black;width: 195px;">
        <span style="position:relative;bottom:4px;font-size:12px;">InsightE</span>
        <span style="font-family:roboto-light;position: absolute;bottom:7px;left:49px;font-size:9px;">
            powered by <span style="font-family:lato;font-size:10px;"> The Data Strategy </span>
        </span>
    </span>
    <!-- /LOGO -->

    <span id="menu-nav-location" class="item" style="font-weight:bold;"></span>

    <div id="container-topic-dropdown" class="ui simple dropdown icon item">
        <i class="world icon" style="margin-right: 10px;"></i>
        <span id="menu-nav-text-2">Choose Dataset</span><i class="dropdown icon"></i>
        <div id="container-topics" class="menu" style="max-height:300px;overflow:auto;">
            <!--<div class="item">Arabic</div>-->
        </div>
    </div>

    <span id="menu-nav-text-3" class="ui right item" style="padding: 3px 5px;"></span>

    <!--<div id="container-topic-dropdown2" class="ui simple dropdown icon item">-->
        <!--<i class="dashboard icon" style="margin-right: 10px;"></i>-->
        <!--<span id="menu-nav-text-4">Control Panel</span><i class="dropdown icon"></i>-->
        <!--<div id="container-settings" class="menu" style="max-height:300px;overflow:auto;">-->
        <!--</div>-->
    <!--</div>-->

</div>

