{% extends 'layout.html' %}

{% block title %} Heatmaps {% endblock %}

{% block styles %}

<style>
    html, body {
        height: 100%;
    }

    .ui.grid {
        height: 95%;
    }

    #container-heatmap, #map-canvas {
        overflow: hidden;
        height: 100%;
    }

    #container-topic-dropdown{
        display: none;
    }

</style>
<link href="/ext/leaflet/leaflet.css" rel="stylesheet"/>
<script src="/ext/leaflet/leaflet.js"></script>
<script src="/ext/heatmap.js/build/heatmap.min.js"></script>
<script src="/ext/heatmap.js/plugins/leaflet-heatmap.js"></script>

{% endblock %}

{% block body %}

{% include 'sidebar.html' %}

<div class="pusher" style="height: 100%;background: #EEF0F2;">

    {% include 'header_old.html' %}

    <div class="ui grid" id="main-body" style="overflow: hidden;">

        <div class="row" style="height:100%;padding:0;">
            <div id="main-container" class="four wide column" style="height:100%;padding-top:30px;">
                <div class="ui grid" style="height:100%">
                    <div id="container-topics" class="sixteen wide column ar-container ar-border-right ar-border-bottom"
                         style="height: 100%;border-bottom:none !important;padding-left: 50px;">
                        <div class="ui list" id="container-topics-list" style="height:97%;overflow-x:hidden;overflow-y:auto;"></div>
                    </div>
                </div>
            </div>
            <div id="container-heatmap" class="twelve wide column ar-container" style="overflow:hidden;">
                <div id="container-heatmap-init-box" class="ui raised very padded text container segment"
                     style="margin-top: 5%">
                    <h2 class="ui header">Choose a Data Set </h2>
                </div>

                <div class="ui dimmer" style="z-index: 10000;">
                    <div class="ui text" style="color:white;font-family:roboto-black;position:relative;top:45%;font-size:20px;">
                        <i class="frown icon" style="font-size:30px;position:relative;top:3px;color:#C71111;"></i>OOPS! FOUND NO CITY MENTIONS
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
</div>



{% endblock %}


{% block scripts %}
<script src="/js/templates.js"></script>
<script src="/js/heatmaps.js"></script>
{% endblock %}