{% extends 'layout.html' %}

{% block title %} InsightE {% endblock %}

{% block styles %}  {% endblock %}

{% block body %}

<div class="ui raised very padded text container segment">
    <h2 class="ui header">Welcome to InsightE </h2>
    <ul>
        <li><a href="{{ 'verbatims'|route }}">Verbatims</a></li>
        <li><a href="{{ 'tags'|route }}">Tagged</a></li>
        <li><a href="{{ 'sentiment'|route }}">Sentiment Analysis</a></li>

        <!--<li><a href="{{ 'wordclouds'|route }}">Wordclouds</a></li>--> <!-- DEPRECATE WORDCLOUDS -->

        <li><a href="{{ 'heatmaps'|route }}">Heatmaps</a></li>
    </ul>

    <div style="text-align: right;">
        <h2 style="margin-bottom:0;">Powered By</h2>
        <a href="http://thedatastrategy.com/" target="_blank">
            <img style="width:300px;position:relative;left:25px;bottom:10px;" src="/img/tds-logo.png" />
        </a>
    </div>
</div>


{% endblock %}


{% block scripts %}  {% endblock %}