<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InsightE : {% block title %} {% endblock %}</title>
    <!--<link rel="stylesheet" href="/cmps/semantic/dist/semantic.css"/> &lt;!&ndash; TODO comment test &ndash;&gt;-->
    <link rel="stylesheet" href="/cmps/semantic/dist/semantic.min.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/fonts.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/ext/notify/ns-default.css"/>
    <link rel="stylesheet" href="/ext/notify/ns-style-growl.css"/>
    <script src="/cmps/jquery/dist/jquery.min.js"></script>
    <script src="/cmps/semantic/dist/semantic.min.js"></script>
    <script src="/ext/modernizr.custom.js"></script>
    <link rel="icon" href="/favicon.ico" />

    {% block styles %}{% endblock %}
</head>
<body>
<div>
{% block body %}{% endblock %}
</div>
</body>
<script src="/ext/classie.js"></script>
<script src="/ext/notify/notificationFx.js"></script>
<script src="/cmps/d3/d3.min.js"></script>
<script src="/cmps/d3-cloud/build/d3.layout.cloud.js"></script>
<script src="/cmps/bluebird/js/browser/bluebird.min.js"></script>
<script src="/cmps/underscore/underscore-min.js"></script>
<script src="/ext/socket.io-1.4.5.js"></script>
<script src="/js/utils/error.js"></script>
<script src="/js/api.js"></script>
<script src="/js/utils/common.js"></script>
<script src="/js/utils/command_parser.js"></script>
<script src="/js/layout.js"></script>
<script src="/js/manager.js"></script>
<script src="/js/utils/conceptnet.js"></script>
{% if user and user._id %}
<script>
    var user = {
        username: "{{ user._id }}"
    }
</script>
{% else %}
<script>
    var user = undefined
</script>
{% endif %}
<script>
    Manager.unHidePriveledged()
</script>
{% block scripts %}{% endblock %}

</html>