{% extends 'layout2.html' %}

{% block title %}-){% endblock %}

{% block styles %}
<style>
    body {
        background: #1b1c1d;
    }

</style>
{% endblock %}

{% block body %}
<div id="pusher" class="pusher" style="height: 100%;background: #EEF0F2;position: relative;">

    <div class="ui inverted vertical masthead center aligned segment" style="padding:20% 0;">
        <h1 class="ui inverted header" style="margin-top:0;font-size:60px;">
            Insight<span style="color:#58a5ff;">E</span> Plat<span style="color:#58a5ff;">F</span>orm
        </h1>
        <p id="message" data-messageid="{{ messageid }}" style="font-size:20px;font-family: roboto;"></p>

        <a href="{{ 'dashboard'|route }}">
            <button class="ui blue button">
                <i class="chevron left icon"></i>
                Back to Home
            </button>
        </a>
    </div>

</div>

{% endblock %}


{% block scripts %}
<script>
    var MESSAGES = {
        1: {
            HEADER: "",
            MESSAGE: "Your dataset is being processed. You will be alerted by mail, when completed! <br> Thank you"
        },
        2: {
            HEADER: "",
            MESSAGE: "Your download should start in a few instances <br> Thank you"
        },
        CONTACT: {
            HEADER: "",
            MESSAGE: "<span style='font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;'>" +
            "Contact us at <a href='mailto:hello@thedatastrategy.com'><span style='color:#58a5ff;'>hello@thedatastrategy.com</span></a></span>"
        },
        ERROR: {
            HEADER: "",
            MESSAGE: "" +
            "<span style='font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;'> 404. Page not Found. It happens...</span>"
        },
        RESETPASS: {
            HEADER: "",
            MESSAGE: "" +
            "<span style='font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;'> " +
            "   You will be sent an email to reset your password.<br>" +
            "   Please follow the instructions in the mail" +
            "</span>"
        },
        RESETPASSSUCCESS: {
            HEADER: "",
            MESSAGE: "" +
            "<span style='font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;'> " +
            "   Your password has been successfully changed!<br>" +
            "   <span style='font-size:10px;'> <strong>Hint: </strong> Note it down somewhere, this time ;)</span>" +
            "</span>"
        },
    }

    $(document).ready(function () {
        var container = $('#message')
        var id = container.data().messageid
        if (id == 1) {
            // static message
            container.html(
                    MESSAGES[id].MESSAGE
            )
        } else if (id == 2) {
            // download file
            container.html(
                    MESSAGES[id].MESSAGE
            )
            var params = QueryString()
            console.log("got params", params)
            if (!_.isUndefined(params.f)) {
                console.log("downloading", params.f)
                CORE.ajax(params.f, 'GET', {})
                        .done(function (r) {
                            console.log("done downloading request", r)
                        })
            }
        } else {
            container.html(
                    MESSAGES[id].MESSAGE
            )
        }
    })
</script>
{% endblock %}