{% extends 'layout2.html' %}

{% block title %} Reset Password {% endblock %}

{% block styles %}
<style>
    body {
        background: #1b1c1d;
    }

</style>
{% endblock %}

{% block body %}
<div id="pusher" class="pusher" style="height: 100%;background: #EEF0F2;position: relative;">

    <div class="ui inverted vertical masthead center aligned segment" style="padding:15% 0;">
        <h1 class="ui inverted header" style="margin-top:0;font-size:60px;">
            Insight<span style="color:#58a5ff;">E</span> Plat<span style="color:#58a5ff;">F</span>orm
        </h1>

        <div class="ui text container">
            {% if stage == 'request_reset' %}
            <form class="ui form error" action="{{ 'reset_password'|route }}" method="post">
                <div class="field">
                    <h2 style="color:white;">Enter your Email</h2>
                    <input type="email" name="email" placeholder="" required>
                </div>
                <button class="ui submit blue button">Reset Password</button>
            </form>

            {% elif stage == 'do_reset' %}

            <form class="ui form error" action="{{ 'do_reset_password'|route }}" method="post">
                <div class="field">
                    <h2 style="color:white;">Enter your new Password</h2>
                    <input type="password" name="newpass" placeholder="" required>
                </div>
                <input type="hidden" name="user" value="{{ user }}"/>
                <input type="hidden" name="accesscode" value="{{ accesscode }}"/>
                <button class="ui submit blue button">Reset Password</button>
            </form>

            {% endif %}
            {% if message != undefined %}
            <div class="ui error message" style="background: #1b1c1d;box-shadow: none !important;">
                <div class="header">{{ message.header }}</div>
                <p class="content">{{ message.content }}</p>
            </div>
            {% endif %}
        </div>


    </div>

</div>

{% endblock %}


{% block scripts %}


{% endblock %}