{% extends 'layout2.html' %}

{% block title %} Upload Dataset {% endblock %}

{% block styles %}

<style>
    .dropzone {
        border: 2px dashed #0087F7;
        border-radius: 5px;
        background: white;
    }

    .block-divider {
        width: 100%;
        height: 50px;
    }

    .ui.ordered.list .item .content {
        padding-left: 20px;
    }
</style>
{% endblock %}

{% block body %}

{% include 'sidebar.html' %}

<div id="pusher" class="pusher" style="height: 100%;background: #EEF0F2;position: relative;">
    {% include 'header_sticky.html' %}


    <div class="ui grey vertical masthead center aligned segment" style="padding:50px;">
        <div>
            <img src="/img/radarly.png" style="width:200px;"/> <img src="/img/tds-logo.png" style="width:280px;"/>
        </div>
        <div>
            <h5>Analyze the data from Radarly</h5>
        </div>
    </div>

    <div class="ui inverted vertical masthead center aligned segment" style="color:black !important;background: white;">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <h2 class="ui inverted header" style="color:black !important;font-size:40px;">
                        Connexion en 4 étapes simples
                    </h2>
                </div>
                <div class="column">

                    <div class="ui text center aligned container">
                        <div class="ui ordered list" style="text-align:left;">
                            <div class="item">
                                <div class="content">
                                    <h4 class="header">Choisissez un projet Radarly</h4>
                                    <div class="description">Tous les projets disponibles sur Radarly sont proposés dans le formulaire.
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <h4 class="header">(optionnel) Créez votre requête</h4>
                                    <div class="description">Vous pouvez affiner la recherche dans votre projet/dashboard/focus Radarly.
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <h4 class="header">Choissisez un projet InsightE</h4>
                                    <div class="description">Indiquez un projet InsightE sur lequel vous travaillez</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <h4 class="header">Recevez un mail de confirmation</h4>
                                    <div class="description">Une fois extraction terminée, vous receverez un mail de confirmation.
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="ui left aligned container" style="margin-top: 150px;">
            <h2 class="ui blue header dividing" style="font-size: 40px;">Charger un Dataset</h2>

            <div class="ui text container" style="padding-bottom:100px;padding-top:40px;">

                {% set MSGCONTENT = {'NORESULT': 'Aucun verbatim trouvé',
                                     'WRONGQUERY': 'Requête invalide'} %}
                {% if message %}
                <div class="ui error message visible" style="">
                    <div class="header">
                        {{ MSGCONTENT[message] }}
                    </div>
                </div>
                {% endif %}

                <h4 class="ui horizontal divider header">
                  <i class="tag icon"></i>
                  Radarly Project
                </h4>

                <form id="form-dataset" class="ui form" action="{{ 'radarly_upload'|route }}" method="post"
                      enctype="application/x-www-form-urlencoded">
                    <div class="field">
                        <label>Radarly project</label>
                        <select name="radarly_project"
                                class="ui fluid search selection dropdown" required>
                            <option value="">Choose the project</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Radarly dashboard</label>
                        <select name="radarly_dashboard"
                                class="ui fluid search selection dropdown" required>
                            <option value="">Choose the project</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Radarly focus</label>
                        <select name="radarly_focus"
                                class="ui fluid search selection dropdown" required>
                            <option value="">Choose the project</option>
                        </select>
                    </div>

                    <div class="field">
                        <label>Radarly query</label>
                        <input type="text" name="radarly_query"
                               placeholder="Query">
                    </div>

                    <div class="ui fluid multiple search selection dropdown">
                        <input type="hidden" name="platforms" value="twitter,forum,blog">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Platform(s)</div>
                        <div class="menu">
                            <div class="item" data-value="twitter"><i class="twitter icon"></i>Twitter</div>
                            <div class="item" data-value="forum"><i class="newspaper icon"></i>Forum</div>
                            <div class="item" data-value="facebook"><i class="facebook icon"></i>Facebook</div>
                            <div class="item" data-value="instagram"><i class="instagram icon"></i>Instagram</div>
                            <div class="item" data-value="linkedin"><i class="linkedin icon"></i>Linkedin</div>
                            <div class="item" data-value="blog"><i class="comment icon"></i>Blog</div>
                            <div class="item" data-value="gplus"><i class="google plus icon"></i>Google +</div>
                            <div class="item" data-value="youtube"><i class="youtube play icon"></i>Youtube</div>
                            <div class="item" data-value="dailymotion"><i class="align justify icon"></i>Dailymotion</div>
                            <div class="item" data-value="website"><i class="at icon"></i>Site Web</div>
                            <div class="item" data-value="media"><i class="feed icon"></i>Media</div>
                        </div>
                    </div>

                    <h4 class="ui horizontal divider header">
                      <i class="tag icon"></i>
                      InsightE Project
                    </h4>


                    <div class="field">
                        <label>Project Name</label>
                        <select name="project" class="ui fluid search selection dropdown" required>
                            <option value="">Choose the project</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Dataset Name</label>
                        <input type="text" name="title" placeholder="Dataset Name" required>
                    </div>
                    <div class="field">
                        <label>Language</label>
                        <select name="language" class="ui fluid search selection dropdown" required>
                            <option value="">Choose the language for the dataset</option>
                            <option value="en">English</option>
                            <option value="fr">French</option>
                            <option value="de">German</option>
                        </select>
                    </div>

                    <div>
                        <button id="submit-dataset" class="ui blue button" type="submit" style="float:right;">Upload</button>
                    </div>
                </form>
            </div>
        </div>

    </div>


</div>


{% endblock %}


{% block scripts %}
<script>
    var stage = 1
</script>

<script src="/js/templates.js"></script>
<script src="/js/uploaddataset.js"></script>
<script src="/js/radarly.js"></script>
{% endblock %}
