{% extends 'layout.html' %}

{% block title %} Sentiment Analysis {% endblock %}

{% block styles %}
<style>
    body, html {
        overflow: hidden;
    }

    .axis {
        font-family: roboto-bold, serif;
        font-size: 12px;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.axis path {
        display: none;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.axis path {
        display: none;
    }

    .d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
        width: 100%;
        line-height: 1;
        color: rgba(0, 0, 0, 0.8);
        content: "\25BC";
        position: absolute;
        text-align: center;
    }

    /* Style northward tooltips differently */
    .d3-tip.n:after {
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
    }

    .bar {
        cursor: pointer;
        opacity: 1;
    }

    .verbatim-list li{
        list-style-type:none;
    }


    /*.verbatim-list-options{*/
        /*visibility: hidden;*/
    /*}*/

    /*.verbatim-list-container:hover > .verbatim-list-options{*/
        /*visibility: visible;*/
    /*}*/
</style>
{% endblock %}

{% block body %}

{% include 'sidebar.html' %}

<div class="pusher" style="height: 100%;background: #EEF0F2;">

    {% include 'header2.html' %}

    <div id="main-container" style="overflow: hidden;height:93%;padding: 0 30px;">

        <!-- DASHBOARD CONTAINER -->
        <ul id="container-dashboard" class="ui grid"
            style="height:100%;list-style-type: none;padding: 30px 30px 20px 30px;overflow-y:auto;overflow-x:hidden">
        </ul>
        <!-- / DASHBOARD CONTAINER -->

    </div>

    {% include 'footer.html' %}
</div>

<!-- DATASET MODAL -->
<div id="container-dataset" class="ui modal" style="height:350px;">
    <i class="close icon"></i>
    <div class="header" style="color:grey;">Choose your Dataset</div>
    <div class="content">
        <div class="description">
            <form class="ui form" id="">
                <div class="field">
                    <h3>Project</h3>
                    <div class="ui fluid search selection dropdown dropdown-project">
                        <input type="hidden" name="project">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Project</div>
                        <div class="menu"></div>
                    </div>
                </div>
                <div class="field">
                    <h3>Datasets</h3>
                    <div class="ui fluid search selection dropdown dropdown-dataset">
                        <input type="hidden" name="dataset">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Dataset</div>
                        <div class="menu"></div>
                    </div>
                </div>
                <div class="ui error message visible">
                    <div class="header"></div>
                </div>
            </form>
        </div>
        <div class="actions" style="margin-top:50px;">
            <div class="two ui buttons">
                <div class="ui green button trigger-topic">
                    Go
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TAG VERBATIM MODAL -->
<div id="container-tagged-verbatims" class="ui long modal">
    <i class="close icon" style=""></i>

    <div class="header" style="">Tag Verbatim</div>
    <div class="content">
        <div class="description" style="">

            <!-- TAGS SEARCH BAR -->
            <div class="search-tag ui fluid search right labeled left icon input" style="width: 100%">
                <i class="tags icon"></i>
                <input id="input-tagged-verbatims" class="prompt" type="text" placeholder="Enter tags">
                <a class="ui tag label" style="background: #151515;color: white;" onclick="TaggerManager.addTag()">Add Tag</a>
                <div class="results"></div>
            </div>
            <!-- LIST OF CURRENT TAGS -->
            <div class="tag-list"></div>
        </div>
    </div>
    <div class="actions"></div>
</div>


{% endblock %}

{% block scripts %}
<script src="/ext/d3.tip.v0.6.3.js"></script>
<script src="/js/utils/topicmenu.js"></script>
<script src="/js/templates.js"></script>
<script src="/js/verbatims/verbatimlist.js"></script>
<script src="/js/verbatims/tag.js"></script>
<script src="/js/sentiment.js"></script>
{% endblock %}