<div id="container-sidebar" class="ui sidebar inverted vertical menu">
    <div class="ui horizontal divider">
        <i class="setting icon" style="color:white;"></i>
    </div>
    <a class="item" href="{{ 'dashboard'|route }}">Projects</a>
    <a class="item" href="{{ 'upload_dataset'|route }}">Upload DataSet</a>
    <a class="item" href="{{ 'radarly'|route }}">Radarly Module</a>
    <a class="item" href="{{ 'extract_progress'|route }}">Extraction Progresses</a>

    <div class="ui horizontal divider hidden role-admin">
        <i class="users icon hidden role-admin" style="color:white;"></i>
    </div>
    <a class="item hidden role-admin" href="{{ 'user_management'|route }}">User Management</a>

    <div class="ui horizontal divider">
        <i class="world icon" style="color:white;"></i>
    </div>
    <a class="item" href="{{ 'sentiment'|route }}">Sentiment Analysis</a>
    <!--<a class="item" href="{{ 'crossanalysis'|route }}">Cross Analysis</a>-->

    <div class="ui horizontal divider">
        <i class="comments icon" style="color:white;"></i>
    </div>

    <a class="item" href="{{ 'verbatims'|route }}">Verbatims</a>
    <a class="item" href="{{ 'tags'|route }}">Tagged</a>

    <!--<a class="item" href="{{ 'wordclouds'|route }}">Wordclouds</a>--> <!-- DEPRECATE WORDCLOUDS -->
    <div class="ui horizontal divider">
        <i class="marker icon" style="color:white;"></i>
    </div>

    <a class="item" href="{{ 'heatmaps'|route }}">Heatmaps</a>

    <div class="ui horizontal divider">
        <i class="text telephone icon" style="color:white;"></i>
    </div>

    <a class="item" href="{{ 'contactus'|route }}">Contact Us</a>

</div>
