\{% extends 'layout.html' %}

{% block title %} Verbatim Tags {% endblock %}

{% block styles %}
<style>
    body {
        background: #EEF0F2;
    }

    #menu-nav-text-3 {
        padding-left: 20px;
    }

    .tab {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .insight-selected {
        /*box-shadow: 1px 2px 7px #0d71bb !important;*/
        border: solid #0d71bb !important;
    }

</style>
{% endblock %}

{% block body %}

{% include 'sidebar.html' %}

<div class="pusher" style="">
    {% set menu_shortcut = true %}
    {% include 'header_sticky_2.html' %}

    <div id="main-container" style="padding-top:60px;background: #EEF0F2;">
        <div class="ui grid" style="padding-right: 0;">
            <div id="tag-container" class="ui five wide column"
                 style="height:100% !important;border-right: solid 1px #ECECEC;z-index:10;">
                <div class="ui top fixed vertical menu"
                     style="min-width: 400px; width:30%;top:70px;padding-right:22px;">

                    <div class="ui pointing secondary tabular menu" style="font-size:20px;">
                        <a class="item active" data-tab="tag" style="width:50%;">Tags</a>
                        <a class="item " data-tab="insight" style="width:50%;">Insights</a>
                    </div>

                    <div class="option-tag ui bottom tab active" data-tab="tag">
                        <!-- TAG OPTIONS -->
                        <h2 class="ui header" style="padding-left: 20px">
                            <i class="tags icon"></i>
                            <div class="content">
                                <div class="sub header">Click on the tags you want to view</div>
                            </div>
                        </h2>

                        <div>
                            <div class="ui small icon input" style="width: 100%;padding-left: 10px;">
                                <input id="input-search-tag" type="text" placeholder="Search through tags...">
                                <i class="search icon"></i>
                            </div>
                        </div>

                        <!-- TAGS LIST -->
                        <div class="ui horizontal list"
                             style="padding: 20px 50px;overflow-y:auto;width:100%;max-height:500px;"></div>
                        <!-- / TAGS LIST -->

                    </div>

                    <div class="option-insight ui bottom tab " data-tab="insight"
                         style="position:relative;left: 8px;">
                        <!-- INSIGHT OPTIONS -->

                        <h2 class="ui header" style="padding-left: 20px;margin-top:10px;">
                            <i class="search icon"></i>
                            <div class="content">
                                <div class="sub header">This is where the magic begins</div>
                            </div>
                        </h2>

                        <div class="ui form">
                            <div class="fields">
                                <div class="one wide field">
                                    <div id="trigger-modal-new-insight" class="ui icon buttons popup-trigger"
                                         data-content="Create New Insight">
                                        <button class="ui blue button">
                                            <i class="plus icon"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="fifteen wide field">
                                    <div>
                                        <div id="input-search-insight" class="ui small icon input fluid search"
                                             style="width: 100%;padding-left: 10px;">
                                            <input type="text" class="prompt" placeholder="Search through insights...">
                                            <i class="search icon"></i>
                                            <div class="results"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <!-- INSIGHT LIST -->
                        <div class="ui list list-insight"
                             style="padding: 20px 30px;overflow-y:auto;max-height:500px;"></div>
                        <!-- / INSIGHT LIST -->

                        <!-- / INSIGHT OPTIONS -->
                    </div>
                </div>
            </div>

            <div class="eleven wide column" style="z-index: 20;">
                <!-- TAB TAG -->
                <ul id="container-verbatims" class="ui tab active" data-tab="tag"
                    style="list-style-type: none;padding: 5px 0 5px 5px;overflow-y:auto;overflow-x:hidden;margin:0;">
                    <li id="container-verbatims-init-box" class="ui raised very padded text container segment"
                        style="margin-top: 5%">
                        <h2 class="ui header">Click on tags to view their Verbatims </h2>

                    </li>
                </ul>
                <!-- / TAB TAG -->

                <!-- TAB INSIGHT -->
                <div class="ui tab " data-tab="insight"
                     style="padding: 0px 10px;background: rgba(238, 240, 242, 0.8);">

                    <!-- TAGS IN INSIGHT -->
                    <div id="seg-tags" class="ui top attached menu">
                        <div class="ui item">
                            <h3>Tags in Insight</h3>
                        </div>
                        <div class="right menu">
                            <div class="ui right aligned search item">
                                <div class="ui transparent icon input">
                                    <input class="prompt" type="text" placeholder="Add Tag">
                                    <i class="plus link blue icon"></i>
                                </div>
                                <div class="results"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ui bottom attached segment">
                        <div class="list-insight-tag"></div>
                    </div>

                    <!-- TAGGED VERBATIMS -->
                    <div class="ui top attached menu">
                        <div class="ui item">
                            <h3>Tagged Verbatims</h3>
                        </div>
                    </div>
                    <div class="ui bottom attached segment"
                         style="background:#0D71BB;min-height:100px;max-height:500px;overflow-y:auto;">
                        <ul id="container-verbatims-insight-tagged" style="list-style-type:none;padding:0;"></ul>
                    </div>

                    <!-- INSIGHT SEMANTICS -->
                    <div class="ui top attached menu">
                        <div class="ui item">
                            <h3>Insight Semantics</h3>
                        </div>
                        <div class="ui right item">
                            <button id="trigger-recompile-modal" class="ui primary button"
                                    style="font-family:roboto-black;">Re-Compile
                                Modal
                            </button>
                        </div>
                    </div>
                    <div class="ui bottom attached segment"
                         style="background:whitesmoke;min-height:100px;max-height:500px;overflow-y:auto;position:relative;">
                        <div id="container-modal-features" style="list-style-type:none;padding:0 0 50px 0;"></div>
                        <div class="ui text dimmer">
                            <div class="ui text loader" style="font-family: roboto-black">LOADING INSIGHT SEMANTICS
                            </div>
                        </div>
                    </div>


                    <!-- PREDICTED VERBATIMS -->
                    <div class="ui top attached menu">
                        <div class="ui item">
                            <h3>Predicted Verbatims</h3>
                        </div>
                        <div class="ui item" style="">
                            <div id="container-sindex" class="hidden">
                                <span style="font-size:10px;margin-right:10px;">
                                    <span style="margin-right:6px;">
                                        S-INDEX :
                                        <span class="sindex" style="font-size:15px;font-family: roboto-bold;"></span>
                                    </span>
                                    <span style="margin-right:6px;">
                                        Av.Score :
                                        <span class="avgscore" style="font-size:15px;font-family: roboto-bold;"></span>
                                    </span>
                                    <span style="margin-right:6px;">
                                        NB-Predicted :
                                        <span class="nbpredicted"
                                              style="font-size:15px;font-family: roboto-bold;"></span>
                                    </span>
                                    <span style="margin-right:6px;">
                                        Total-Count :
                                        <span class="totalcount"
                                              style="font-size:15px;font-family: roboto-bold;"></span>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="ui right item">
                            <button id="trigger-compile-sindex" class="ui olive button"
                                    style="font-size:11px;font-family:roboto-black;">
                                <i class="lab icon"></i>
                                Compile Similarity Index
                            </button>
                        </div>
                    </div>
                    <div class="ui bottom attached segment"
                         style="background:#347745;min-height:100px;max-height:1000px;overflow-y:auto;">
                        <ul id="container-verbatims-insight-predicted" style="list-style-type:none;padding:0;"></ul>
                        <div class="ui text dimmer">
                            <div class="ui text loader" style="font-family: roboto-black">LOADING PREDICTED VERBATIMS
                            </div>
                        </div>
                    </div>

                    <div class="ui top attached menu">
                        <div class="ui item">
                            <h3>Options</h3>
                        </div>
                    </div>
                    <div id="container-insight-options" class="ui bottom attached segment"
                         style="background:#a19554;overflow-y:auto;">
                        <button class="ui labeled red icon button button-remove">
                            <i class="remove icon"></i>
                            Delete Insight
                        </button>
                    </div>
                </div>
                <!-- / TAB INSIGHT -->
            </div>
        </div>

        <div id="tag-list" style="padding-top: 40px;"></div>
    </div>

    {% include 'footer.html' %}
</div>

<!-- DATASET MODAL -->
<div id="container-dataset" class="ui modal" style="height:350px;">
    <i class="close icon"></i>
    <div class="header" style="color:grey;">Choose your Dataset</div>
    <div class="content">
        <div class="description">
            <form class="ui form" id="">
                <div class="field">
                    <h3>Project</h3>
                    <div class="ui fluid search selection dropdown dropdown-project">
                        <input type="hidden" name="project">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Project</div>
                        <div class="menu"></div>
                    </div>
                </div>
                <div class="field">
                    <h3>Datasets</h3>
                    <div class="ui fluid search selection dropdown dropdown-dataset">
                        <input type="hidden" name="dataset">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Dataset</div>
                        <div class="menu"></div>
                    </div>
                </div>
                <div class="ui error message visible">
                    <div class="header"></div>
                </div>
            </form>
        </div>
        <div class="actions" style="margin-top:50px;">
            <div class="two ui buttons">
                <div class="ui green button trigger-topic">
                    Go
                </div>
            </div>
        </div>
    </div>
</div>

<!-- NEW INSIGHT MODAL -->
<div class="ui modal" id="modal-new-insight">
    <i class="close icon"></i>
    <div class="header">
        Create New Insight
    </div>
    <div class="content" style="padding-bottom:20px;">
        <div class="ui form">
            <div class="field">
                <h3>Insight Name</h3>
                <input type="text" name="name" placeholder="Insight Name">
            </div>
            <div class="field">
                <input type="hidden" name="action"/>
            </div>
            <div class="field">
                <input type="hidden" name="insightid"/>
            </div>
        </div>
        <div style="text-align:right;">
            <div id="trigger-submit-new-insight" class="ui positive icon button"
                 style="margin-top:20px;display: inline-block;">
                Done
            </div>
        </div>
        <div class="ui error message visible">
            <div class="header"></div>
        </div>
    </div>
    <div class="actions">
    </div>
</div>

<!-- TAG VERBATIM MODAL -->
<div id="container-tagged-verbatims" class="ui long modal">
    <i class="close icon" style=""></i>

    <div class="header" style="">Tag Verbatim</div>
    <div class="content">
        <div class="description" style="">

            <!-- TAGS SEARCH BAR -->
            <div class="search-tag ui fluid search right labeled left icon input" style="width: 100%">
                <i class="tags icon"></i>
                <input id="input-tagged-verbatims" class="prompt" type="text" placeholder="Enter tags">
                <a class="ui tag label" style="background: #151515;color: white;" onclick="TaggerManager.addTag()">Add
                    Tag</a>
                <div class="results"></div>
            </div>
            <!-- LIST OF CURRENT TAGS -->
            <div class="tag-list"></div>
        </div>
    </div>
    <div class="actions"></div>
</div>

<!-- EXPORTER MODAL -->
<div id="modal-exporter" class="ui long modal">
    <i class="close icon" style=""></i>
    <div class="header" style="background: #0E6EB8;color: white;">Export</div>
    <div class="content">
        <div class="ui top attached tabular menu">
            <div class="active item cursor" data-tab="export-tag" style="width:35%;">TAG</div>
            <div class="item cursor" data-tab="export-insight" style="width:35%;">INSIGHT</div>
            <div class="item cursor" data-tab="export-topic" style="width:30%;">TOPICS</div>
        </div>
        <div class="ui active bottom attached tab segment tab-tag" data-tab="export-tag"
             style="height:500px;position:relative;padding-bottom:50px;">
            <div style="overflow-y:hidden;height: 100%;">
                <h4 class="ui header">Select the tags to Export</h4>
                <!-- TAGS -->
                <form class="ui form">
                    <div class="field">
                        <select name="tags" multiple="" class="ui fluid search selection dropdown ignore-dropdown">
                            <option value="">Choose the tags</option>
                        </select>
                    </div>
                </form>
                <button class="ui button blue" style="position:absolute;top:5px;right:12px;"
                        onclick="Exporter.selectAllTags()">
                    Select All
                </button>
                <div class="ui divider"></div>
                <div class="list-tag" style="width:100%;height:77%;overflow: auto;"></div>
            </div>
            <div class="ui green button" style="position:absolute;bottom: 5px;width: 89%;left: 5%;"
                 onclick="Exporter.downloadTagged()">Download Tagged
            </div>
        </div>
        <div class="ui bottom attached tab segment tab-insight" data-tab="export-insight"
             style="height:500px;position:relative;padding-bottom:50px;">
            <div style="overflow-y:hidden;height: 100%;">
                <div style="overflow-y:hidden;height: 100%;">
                    <h4 class="ui header">Select the insights to Export</h4>
                    <!-- INSIGHTS -->
                    <form class="ui form">
                        <div class="field">
                            <select name="insights" multiple=""
                                    class="ui fluid search selection dropdown ignore-dropdown">
                                <option value="">Choose the insights</option>
                            </select>
                        </div>
                        <div class="inline fields">
                            <div class="four wide field">
                                <h4>nb predicted verbatims</h4>
                            </div>
                            <div class="four wide field">
                                <input type="text" name="nbPredictedVerbatims" placeholder="nb verbatims" value="100">
                            </div>
                        </div>
                    </form>
                    <div class="ui error message hidden">
                        <div class="header"></div>
                    </div>
                    <button class="ui button blue" style="position:absolute;top:5px;right:12px;"
                            onclick="Exporter.selectAllInsights()">
                        Select All
                    </button>
                    <div class="ui divider"></div>
                    <div class="list-insight" style="width:100%;height:77%;overflow: auto;"></div>
                </div>
            </div>
            <div class="ui green button" style="position:absolute;bottom: 5px;width: 89%;left: 5%;"
                 onclick="Exporter.downloadInsights()">Download Insights
            </div>
        </div>
        <div class="ui bottom attached tab segment tab-topic" data-tab="export-topic"
             style="height:500px;position:relative;padding-bottom:50px;">
            <div style="overflow-y:hidden;height: 100%;">
                <div style="overflow-y:hidden;height: 100%;">
                    <h4 class="ui header">Choose additional topics to Export</h4>
                    <!-- TOPICS -->
                    <form class="ui form">
                        <div class="field">
                            <select name="topics" multiple=""
                                    class="ui fluid search selection dropdown ignore-dropdown">
                                <option value="">Choose additional topics</option>
                            </select>
                        </div>
                    </form>
                    <div class="ui divider"></div>
                    <div class="list-topic" style="width:100%;height:77%;overflow: auto;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions"></div>
</div>

<!-- DOWNLOAD MODAL -->
<div id="modal-download" class="ui basic modal">
    <i class="close icon"></i>
    <div class="header">
    </div>
    <div class="image content">
        <div class="image">
            <i class="download icon"></i>
        </div>
        <div class="description" style="">
            <a class="container-download-href" href="" target="_blank">
                <p class="done" style="color:white;font-size:25px;font-family:roboto-normal">
                    Your download is ready, click below to download the export!<br>
                    <button class="ui inverted green button">DOWNLOAD</button>
                </p>
                <p class="pending" style="color:white;font-size:25px;font-family:roboto-normal">
                    We are currently processing your export ... <br>
                    It will be ready in a few moments!
                </p>
            </a>
        </div>
    </div>
    <div class="actions">
    </div>
</div>


{% endblock %}

{% block scripts %}
<script src="/js/templates.js"></script>
<script src="/js/utils/topicmenu.js"></script>
<script src="/js/utils/socketclient.js"></script>
<script src="/js/verbatims/verbatimlist.js"></script>
<script src="/js/tagged/tag.js"></script>
<script src="/js/tagged/insight.js"></script>
<script src="/js/tagged/export.js"></script>
<script src="/js/verbatims/tag.js"></script>
<script src="/js/tagged.js"></script>
<script>
</script>
{% endblock %}
