{% extends 'layout2.html' %}

{% block title %} Upload Preview {% endblock %}

{% block styles %}

<style>
    .dropzone {
        border: 2px dashed #0087F7;
        border-radius: 5px;
        background: white;
    }

    .block-divider {
        width: 100%;
        height: 50px;
    }

    .ui.ordered.list .item .content {
        padding-left: 20px;
    }

    .tags.icon.cursor {
        display: none !important;
    }

    .ner-list, .emotion-list, .concept-list {
        display: none !important;
    }

    .verbatim .verbatim-divider {
        display: none !important;
    }
</style>
{% endblock %}

{% block body %}

<div id="pusher" class="pusher" style="height: 100%;background: #EEF0F2;position: relative;">

    <div class="ui inverted vertical masthead center aligned segment" style="padding:50px;">
        <h1 class="ui inverted header" style="margin-top:0;">
            Dataset Preview
        </h1>
        <p style="font-size:20px;">Validate the first five verbatims, to proceed with the whole dataset</p>
    </div>

    <div id="container-preview" class="ui inverted vertical masthead center aligned segment"
         style="background:white;padding-top:50px;">
        <div id="container-main" class="ui container">
            <div class="ui header" style="text-align: left;">
                <h1>Dataset Details</h1>
            </div>

            <table class="ui very basic collapsing celled table" style="padding-left:40px;">
                <tbody>
                <tr>
                    <td>
                        Project Name
                    </td>
                    <td style="padding-left:20px;">
                        <h4 class="ui image header">
                            <div class="content">
                                <span class="vproject"></span>
                            </div>
                        </h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        Dataset Name
                    </td>
                    <td style="padding-left:20px;">
                        <h4 class="ui image header">
                            <div class="content">
                                <span class="vtopic"></span>
                            </div>
                        </h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        Language
                    </td>
                    <td style="padding-left:20px;">
                        <h4 class="ui image header">
                            <div class="content">
                                <span class="vlanguage"></span>
                            </div>
                        </h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        Number of Verbatims
                    </td>
                    <td style="padding-left:20px;">
                        <h4 class="ui image header">
                            <div class="content">
                                <span class="vcount"></span> <span
                                    style="font-weight:normal;font-size:12px;">Verbatims</span>
                            </div>
                        </h4>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="ui header" style="text-align: left;margin-top:60px;">
                <h1>Verbatims</h1>
            </div>
            <ul id="list-verbatims" style="list-style-type:none;text-align: left;"></ul>
        </div>

        <div class="ui text dimmer">
            <div class="ui text large loader" style="font-family: roboto-black">LOADING PREVIEW</div>
        </div>

    </div>

    <div class="ui inverted vertical masthead center aligned segment" style="background: rgba(244,83,104,0.9);">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <h2 class="ui header"> Not perfect.... </h2>
                    <a href="{{ 'upload_dataset'|route }}">
                        <div class="ui negative right labeled icon huge button">
                            Return to upload
                            <i class="remove icon"></i>
                        </div>
                    </a>
                </div>
                <div id="upload-options-proceed" class="column">
                    <input type="hidden"
                           value="{{ 'upload_dataset_done'|route|replace(':project', project)|replace(':title', topic)|replace(':language', language)}}?file={{ filename }}"/>
                    <h2 class="ui header"> Looks Good! </h2>
                    <a>
                        <div class="ui positive right labeled icon huge button">
                            Proceed
                            <i class="checkmark icon"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tmp-data"
     data-project="{{ project }}"
     data-topic="{{ topic }}"
     data-language="{{ language }}"
     data-filename="{{ filename }}">
</div>

{% endblock %}


{% block scripts %}
<script>
    var stage = 2
</script>
<script src="/js/templates.js"></script>
<script src="/js/utils/common.js"></script>
<script src="/js/verbatims/verbatimlist.js"></script>
<script src="/js/uploaddataset.js"></script>
{% endblock %}