{% extends 'layout2.html' %}

{% block title %} Upload Dataset {% endblock %}

{% block styles %}

<style>
    .dropzone {
        border: 2px dashed #0087F7;
        border-radius: 5px;
        background: white;
    }

    .block-divider {
        width: 100%;
        height: 50px;
    }

    .ui.ordered.list .item .content {
        padding-left: 20px;
    }
</style>
{% endblock %}

{% block body %}

{% include 'sidebar.html' %}

<div id="pusher" class="pusher" style="height: 100%;background: #EEF0F2;position: relative;">
    {% include 'header_sticky.html' %}


    <div class="ui inverted vertical masthead center aligned segment" style="padding:50px;">
        <h1 class="ui inverted header" style="margin-top:20px;">
            Upload Your Dataset on Insight<span style="color:#58a5ff;">E</span> Plat<span
                style="color:#58a5ff;">F</span>orm
        </h1>
    </div>

    <div class="ui inverted vertical masthead center aligned segment" style="background: rgba(244,83,104,0.9);">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <h2 class="ui inverted header" style="font-size:40px;">
                        What should the File Look like ?
                    </h2>
                </div>
                <div class="column">
                    <h3>Download the sample dataset to see the structure your file must be in</h3>
                    <a href="/data/insighte_topic_sample_dataset.csv">
                        <div class="ui labeled button" tabindex="0">
                            <div class="ui green button">
                                <i class="file text outline icon"></i> Sample Dataset
                            </div>
                        <span class="ui basic green left pointing label">
                            Download
                        </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="ui stackable grid container">
            <div class="row">
                <div class="six wide right floated column left aligned" style="margin-left:20px;">
                    <h2 class="ui large header">File Structure</h2>
                    <h3 class="ui header"><i class="angle double right icon"></i>A Verbatim Per Line</h3>
                    <p>Each line is considered as an individual verbatim</p>
                    <h3 class="ui header"><i class="angle double right icon"></i>UTF-8 Encoding</h3>
                    <p>The files are presumed to be UTF8 encoded by default</p>
                </div>
                <div class="eight wide column left aligned">
                </div>
            </div>
        </div>
    </div>


    <div class="ui inverted vertical masthead center aligned segment" style="color:black !important;background: white;">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <h2 class="ui inverted header" style="color:black !important;font-size:40px;">
                        Just 4 Simple Steps !
                    </h2>
                </div>
                <div class="column">

                    <div class="ui text center aligned container">
                        <div class="ui ordered list" style="text-align:left;">
                            <div class="item">
                                <div class="content">
                                    <h4 class="header">Select Project</h4>
                                    <div class="description">You can select an existing project, or create a new one
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <h4 class="header">Give Dataset Name</h4>
                                    <div class="description">This is the dataset name which will be associated with the
                                        newly uploaded verbatims
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <h4 class="header">Select the file</h4>
                                    <div class="description">Your File must be respect the instructions above</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <h4 class="header">Wait for completion mail</h4>
                                    <div class="description">Once the insight extraction is completed for your dataset,
                                        you will be informed by mail
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="ui left aligned container" style="margin-top: 150px;">
            <h2 class="ui blue header dividing" style="font-size: 40px;">Upload Your Dataset</h2>

            <div class="ui text container" style="padding-bottom:100px;padding-top:40px;">

                {% set MSGCONTENT = {'BADTOPICNAME': 'Please choose another topic name'} %}
                {% if message %}
                <div class="ui error message visible" style="">
                    <div class="header">
                        {{ MSGCONTENT[message] }}
                    </div>
                </div>
                {% endif %}

                <form id="form-dataset" class="ui form" action="{{ 'upload_dataset_file'|route }}" method="post"
                      enctype="multipart/form-data">
                    <div class="field">
                        <label>Project Name</label>
                        <select name="project" class="ui fluid search selection dropdown" required>
                            <option value="">Choose the project</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Dataset Name</label>
                        <input type="text" name="title" placeholder="Dataset Name" required>
                    </div>
                    <div class="field">
                        <label>Language</label>
                        <select name="language" class="ui fluid search selection dropdown" required>
                            <option value="">Choose the language for the dataset</option>
                            <option value="en">English</option>
                            <option value="fr">French</option>
                            <option value="de">German</option>
                        </select>
                    </div>

                    <div class="field">
                        <label>TSV File</label>
                        <input type="file" name="dataset" required/>
                    </div>

                    <div>
                        <button id="submit-dataset" class="ui blue button" type="submit" style="float:right;">Upload</button>
                    </div>
                </form>
            </div>
        </div>

    </div>


</div>


{% endblock %}


{% block scripts %}
<script>
    var stage = 1
</script>

<script src="/js/templates.js"></script>
<script src="/js/uploaddataset.js"></script>
{% endblock %}