{% extends 'layout.html' %}

{% block title %} Dashboard {% endblock %}

{% block styles %}
<style>
    tr:hover {
        background: whitesmoke;
    }
</style>
{% endblock %}

{% block body %}

{% include 'sidebar.html' %}

<div class="pusher" style="height: 100%;overflow-x:hidden !important;overflow-y:scroll !important;">


    <div class="ui grid" id="main-body" style="background: #EEF0F2;height:105%;">
        <div class="sixteen wide column" style="padding:60px;">
            {% include 'header_sticky.html' %}


            <!-- USERS -->
            <div class="ui top attached menu">
                <div class="ui item">
                    <h3>Users</h3>
                </div>
                <div class="ui right item">
                    <div class="ui primary labeled icon button" onclick="UserTable.onClickNewUser()">
                        <i class="user icon"></i> Add User
                    </div>
                </div>
            </div>
            <div class="ui bottom attached segment"
                 style="background:#0D71BB;min-height:100px;overflow-y:auto;">

                <table class="ui celled padded table">
                    <thead>
                    <tr>
                        <th class="single line">Username</th>
                        <th>Email</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr data-id="{{ user._id }}">
                        <td><h5 class="ui center aligned header">{{ user._id }}</h5></td>
                        <td class="single line">{{ user.email }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.role }}</td>
                        <td>
                            <i class="pencil icon cursor popup-trigger" data-content="edit user {{ user._id }}" onclick="UserTable.onClickEditUser(this)"></i>
                            <i class="remove red icon cursor popup-trigger" style="font-size:18px;position:relative;top:1px;"
                               data-content="remove user {{ user._id }}" onclick="UserTable.onClickRemoveUser(this)"></i>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
    </div>

    {% include 'footer.html' %}
</div>

<!-- EDIT USER MODAL -->
<div class="ui modal" id="modal-user">
    <i class="close icon"></i>
    <div class="header">
        User Information
    </div>
    <div class="content" style="padding-bottom:20px;">
        <div class="ui form">
            <div class="field">
                <h3>Username</h3>
                <input type="text" name="username" placeholder="" disabled>
            </div>
            <div class="field">
                <h3>Email</h3>
                <input type="email" name="email" placeholder="" required>
            </div>
            <div class="field">
                <h3>First Name</h3>
                <input type="text" name="firstname" placeholder="">
            </div>
            <div class="field">
                <h3>Last Name</h3>
                <input type="text" name="lastname" placeholder="">
            </div>
            <div class="field hidden field-password">
                <h3>Password</h3>
                <input type="text" name="password" placeholder="">
            </div>
            <input type="hidden" name="action" />
        </div>
        <div style="text-align:right;">
            <div class="ui positive icon button" onclick="UserTable.submitFormUser()"
                 style="margin-top:20px;width:150px;display: inline-block;">
                Done
            </div>
        </div>
        <div class="ui error message hidden">
            <div class="header"></div>
        </div>
    </div>
    <div class="actions">
    </div>
</div>


{% endblock %}


{% block scripts %}
<script src="/js/templates.js"></script>
<script src="/js/usermanagement.js"></script>
{% endblock %}