{% extends 'layout.html' %}

{% block title %} Verbatims {% endblock %}

{% block styles %}

<style>
    html, body {
        height: 100%;
    }

    body {
        overflow: hidden;
    }

    .ui.grid {
        height: 99%;
    }

    #main-nav {
        height: 44px;
    }

    #main-body .content-verbatim {
        overflow: hidden;
        padding-bottom: 0;
    }

    #main-body .content-statistics {
        position: relative;
        right: 18px;
        bottom: 0;
        background: white;
        padding: 15px 0 68px 42px;
        border-top: solid 5px #272727;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 500;
    }

    #main-body .content-statistics .sub-list-content,
    #main-body .content-statistics .sub-chart-content {
        padding: 10px 6px !important;
    }

    .wordcloud-container {
        overflow: hidden;
    }

    .dimmer {
        z-index: 5000 !important;
    }

    .cleaner-verbatim {
        margin-bottom: 13px;
        box-shadow: 0 0 6px grey;
        padding: 10px !important;
        background: white;
    }

</style>
<style>
    .axis {
        font-family: roboto-bold, serif;
        font-size: 12px;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.axis path {
        display: none;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.axis path {
        display: none;
    }

    .d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
        width: 100%;
        line-height: 1;
        color: rgba(0, 0, 0, 0.8);
        content: "\25BC";
        position: absolute;
        text-align: center;
    }

    /* Style northward tooltips differently */
    .d3-tip.n:after {
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
    }

    .bar {
        /*cursor: pointer;*/
        opacity: 1;
    }

    .arc text {
        font: 11px roboto-bold;
        text-anchor: middle;
    }

    .arc path {
        stroke: #fff;
    }

</style>
{% endblock %}

{% block body %}

{% include 'sidebar.html' %}

<div id="pusher" class="pusher" style="height: 100%;overflow: hidden;background: #EEF0F2;position: relative;">
    {% include 'header.html' %}
    <div class="ui grid" id="main-body" style="position:relative;">
        <div class="row content-verbatim" style="">
            <div id="main-container" class="seven wide column" style="padding-right: 25px;">
                <div class="ui grid" style="overflow: hidden;">
                    <!-- WORDCLOUDS -->
                    <div id="wordcloud-tab-menu" class="ui top attached tabular menu"
                         style="border-right:solid 1px #ECECEC">
                        <a class="item active keyword" data-tab="keywords"
                           style="font-family:roboto-black;color:#7c0800;">
                            Keywords
                        </a>
                        <a class="item term" data-tab="terms"
                           style="font-family:roboto-black;color:#1a6a35;">
                            Terms
                        </a>
                        <a class="item concept" data-tab="concepts"
                           style="font-family:roboto-black;color:#386aa4;">
                            Concepts
                        </a>

                        <!--<a class="item noun" data-tab="nouns"-->
                        <!--style="font-family:roboto-black;color:#d5883f;">-->
                        <!--NN-->
                        <!--</a>-->
                        <!--<a class="item verb" data-tab="verbs"-->
                        <!--style="font-family:roboto-black;color:#8fa13d;">-->
                        <!--VB-->
                        <!--</a>-->
                        <!--<a class="item adjective" data-tab="adjectives"-->
                        <!--style="font-family:roboto-black;color:#90532b;">-->
                        <!--ADJ-->
                        <!--</a>-->
                    </div>
                    <div id="container-wordcloud-keywords"
                         class="ui bottom attached tab segment wordcloud-container active"
                         data-tab="keywords" style="margin:0;border-color: #ECECEC;z-index: 10;">
                        <div class="ui inverted dimmer">
                            <div class="ui text" style="position:relative;top:40%;
                            font-family: roboto-black">Oops! I ran out of words
                            </div>
                        </div>
                    </div>
                    <div id="container-wordcloud-terms"
                         class="ui bottom attached tab segment wordcloud-container"
                         data-tab="terms" style="margin:0;border-color: #ECECEC;z-index: 10;">
                        <div class="ui inverted dimmer">
                            <div class="ui text" style="position:relative;top:40%;
                            font-family: roboto-black">Oops! I ran out of words
                            </div>
                        </div>
                    </div>
                    <div id="container-wordcloud-concepts"
                         class="ui bottom attached tab segment wordcloud-container"
                         data-tab="concepts" style="margin:0;border-color: #ECECEC;z-index: 10;">
                        <div class="ui inverted dimmer">
                            <div class="ui text" style="position:relative;top:40%;
                            font-family: roboto-black">Oops! I ran out of words
                            </div>
                        </div>
                    </div>


                    <!--<div id="container-wordcloud-nouns"-->
                    <!--class="ui bottom attached tab segment wordcloud-container"-->
                    <!--data-tab="nouns" style="margin:0;border-color: #ECECEC;z-index: 10;">-->
                    <!--<div class="ui inverted dimmer">-->
                    <!--<div class="ui text" style="position:relative;top:40%;-->
                    <!--font-family: roboto-black">Oops! I ran out of words-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div id="container-wordcloud-verbs" class="ui bottom attached tab segment wordcloud-container"-->
                    <!--data-tab="verbs" style="margin:0;border-color: #ECECEC;z-index: 10;">-->
                    <!--<div class="ui inverted dimmer">-->
                    <!--<div class="ui text" style="position:relative;top:40%;-->
                    <!--font-family: roboto-black">Oops! I ran out of words-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div id="container-wordcloud-adjectives" class="ui bottom attached tab segment wordcloud-container"-->
                    <!--data-tab="adjectives" style="margin:0;border-color: #ECECEC;z-index: 10;">-->
                    <!--<div class="ui inverted dimmer">-->
                    <!--<div class="ui text" style="position:relative;top:40%;-->
                    <!--font-family: roboto-black">Oops! I ran out of words-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!-- /WORDCLOUDS -->
                    <div id="container-search-history" class="sixteen wide column ar-container ar-border-right"
                         style="right:8px;">
                        <span style="position: absolute;top: 10px; left: 30px;color: grey">Search Histroy</span>
                        <ul style="text-align:right;"></ul>
                    </div>
                </div>
            </div>
            <ul id="container-verbatims" class="nine wide column ar-container" style="padding-bottom:20px;">
                <li id="container-verbatims-init-box" class="ui raised very padded text container segment"
                    style="margin-top: 5%">
                    <h2 class="ui header">Choose a Data Set </h2>
                </li>
                <!-- EXPERIMENTAL AREA-->
                <!-- / EXPERIMENTAL AREA-->
            </ul>
        </div>

        <!-- STATISTICS -->
        <div class="row content-statistics" style="display:none;background:#EEF0F2;box-shadow: 0 0 10px black;"
             data-state="fixed">

            <!-- SEARCH BREADCRUMB -->
            <div class="sixteen wide column" style="margin-bottom:15px;">
                <div class="header">
                    <h5 class="ui header" style="margin-bottom:5px;position:relative;">
                        Your Current Search
                        <span style="font-size:9px;font-weight: normal;font-family:roboto;">click to remove</span>
                    </h5>
                    <button class="ui labeled icon mini button"
                            style="margin-bottom:5px;padding: 7px 6px 6px 30px !important;border: solid 1px;background: #EEF0F2 !important;"
                            onclick="StatsSearchEngine.defaultState(true)">
                        <i class="close icon" style="background: #EEF0F2 !important;"></i>
                        REMOVE ALL
                    </button>
                </div>

                <div id="breadcrumb-stat-search" class="ui breadcrumb"
                     style="padding-left:25px;padding-right:40px;"></div>
            </div>


            <!-- ACTION BUTTONS -->
            <button class="circular ui icon black button trigger-stats-toggle-display" data-action="large"
                    style="position:absolute;top:10px;right:10px;">
                <i class="icon arrow up"></i>
            </button>
            <button class="circular ui icon black button trigger-stats-toggle-display" data-action="small"
                    style="position:absolute;top:50px;right:10px;">
                <i class="icon arrow down"></i>
            </button>

            <div class="four wide column top-lists" style="">
                <h5 class="ui header">
                    <i class="list layout icon"></i>
                    <div class="content">
                        TOPS
                    </div>
                </h5>
                <div class="list-content">
                    <!-- LISTS -->
                    <div id="stat-list-keywords" class="sub-list-content ui segment" style="margin-bottom:10px;">
                        <h2 class="ui sub header">
                            KEYWORDS
                        </h2>
                        <div class="list" style="overflow-y:auto;padding-right:10px;max-height:300px;"></div>
                    </div>
                    <div id="stat-list-terms" class="sub-list-content ui segment" style="margin-bottom:10px;">
                        <h2 class="ui sub header">
                            TERMS
                        </h2>
                        <div class="list" style="overflow-y:auto;padding-right:10px;max-height:300px;"></div>
                    </div>
                    <div id="stat-list-concepts" class="sub-list-content ui segment" style="margin-bottom:10px;">
                        <h2 class="ui sub header">
                            CONCEPTS
                        </h2>
                        <div class="list" style="overflow-y:auto;padding-right:10px;max-height:300px;"></div>
                    </div>

                </div>
            </div>

            <div class="four wide column top-lists-entities" style="">
                <h5 class="ui header">
                    <i class="list layout icon"></i>
                    <div class="content">
                        ENTITIES
                    </div>
                </h5>
                <div class="list-content">
                    <!-- LISTS ENTITIES -->
                    <div id="stat-list-organization" class="sub-list-content ui segment" style="margin-bottom:10px;">
                        <h2 class="ui sub header">
                            ORGANIZATIONS
                        </h2>
                        <div class="list" style="overflow-y:auto;padding-right:10px;max-height:300px;"></div>
                    </div>
                    <div id="stat-list-location" class="sub-list-content ui segment" style="margin-bottom:10px;">
                        <h2 class="ui sub header">
                            LOCATIONS
                        </h2>
                        <div class="list" style="overflow-y:auto;padding-right:10px;max-height:300px;"></div>
                    </div>
                    <div id="stat-list-domains" class="sub-list-content ui segment" style="margin-bottom:10px;">
                        <h2 class="ui sub header">
                            DOMAINS
                        </h2>
                        <div class="list" style="overflow-y:auto;padding-right:10px;max-height:300px;"></div>
                    </div>
                </div>
            </div>

            <div class="seven wide column top-charts" style="">
                <h5 class="ui header">
                    <i class="bar chart icon"></i>
                    <div class="content">
                        EMOTION
                    </div>
                </h5>
                <div class="list-content ui grid">
                    <!-- CHARTS EMOTION -->
                    <div class="sub-chart-content ui segment sixteen wide column" style="margin-top: 10px;">
                        <h2 class="ui sub header">
                        </h2>
                        <div id="stat-chart-emotion" class="chart"
                             style="height:313px;">
                            <div class="ui inverted dimmer">
                                <div class="ui text loader" style="font-family: roboto-black;">Loading Chart</div>
                            </div>
                        </div>
                    </div>
                    <div class="sixteen wide column" style="padding-bottom: 0;padding-top: 7px;">
                        <!--<h5 class="ui header">-->
                        <!--<i class="twitter icon"></i>-->
                        <!--<div class="content">-->
                        <!--TWITTER-->
                        <!--</div>-->
                        <!--</h5>-->
                    </div>
                    <div class="eight wide column" style="padding-left:0">
                        <div id="stat-list-hashtags" class="sub-list-content ui segment" style="margin-bottom:10px;">
                            <h2 class="ui sub header">
                                HASHTAGS
                            </h2>
                            <div class="list" style="overflow-y:auto;padding-right:10px;max-height:300px;"></div>
                        </div>
                    </div>
                    <div class="eight wide column" style="padding-right:0">
                        <div id="stat-list-mentions" class="sub-list-content ui segment " style="margin-bottom:10px;">
                            <h2 class="ui sub header">
                                MENTIONS
                            </h2>
                            <div class="list" style="overflow-y:auto;padding-right:10px;max-height:300px;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui dimmer">
                <div class="ui text loader" style="font-family: roboto-black;">GETTING STATS</div>
            </div>
        </div>

        <!-- PROGRESS -->
        <div id="progress-default" class="hidden"
             style="width:176px;height:180px;position:fixed;bottom:10px;right:25px;z-index:2000;background:none;">
            <!--<div class="ui teal progress">-->
            <!--<div class="bar">-->
            <!--<div class="progress"></div>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="label">Uploading Files</div>&ndash;&gt;-->
            <!--</div>-->
            <!--<img src="/img/loader_gif.gif" style="width:100%;"/>-->

            <div class="loader-custom">Loading...</div>
            <!--<img src="/img/loader_gif.gif" style="width:100%;"/>-->
        </div>

        <!-- DEPRECATED -->
        <!-- Selected Verbatim Options -->
        <div id="verbatim-selected-options" class="verbatim-selected-options" data-mode="hide"
             style="position:absolute;left:25%;top:10px;box-shadow: 0 0 10px grey;padding-top:22px;
             padding-left:55px;z-index:100;display: none;">
            <label style="position: absolute;left:5px;top:0;font-size:10px;font-family:roboto-black;color:#CACBCD;">
                Multiple Verbatim Options
            </label>
            <div class="ui labeled button popup-default-elements cursor verbatim-selected-options-trigger"
                 data-mode="similarity"
                 data-content="similarity between selected verbatims"
                 data-variation="wide inverted"
                 tabindex="0">
                <div class="ui blue button">
                    <i class="sitemap icon"></i> Similarity
                </div>
            </div>
            <div class="ui labeled button popup-default-elements cursor verbatim-selected-options-trigger"
                 data-mode="unselect-all"
                 data-content="un select all"
                 data-variation="wide inverted"
                 tabindex="0">
                <div class="ui red button">
                    <i class="remove circle icon"></i> de-select all
                </div>
            </div>
        </div>
        <!-- / Selected Verbatim Options -->

        <!-- DEPRECATED -->
        <!-- Multiple Verbatim Panel -->
        <div id="multiple-verbatim-panel" class=""
             style="position:absolute;left:0;top:0;background:rgb(215, 215, 216);margin:0;z-index:50;
        padding: 10px 8px 10px 30px;display: none;" data-mode="show">
            <h4 style="font-family:roboto-bold;color:grey;">Multiple Verbatims Panel</h4>
            <div class="" style="position:absolute;right:10px;top:10px;">
                <i class="close icon cursor" onclick="actionMVCloseSimilarities()"></i>
            </div>
            <div id="multiple-verbatim-panel-list" class="ui raised very padded text segment"
                 style="margin:0;padding:10px 10px 20px 20px;height:100%;overflow-y:auto;overflow-x:hidden;">
            </div>
        </div>
        <!-- / Multiple Verbatim Panel -->
    </div>

    <div class="ui dimmer" style="z-index: 10000;">
        <div class="ui large text loader" style="font-family: roboto-black;">PREPARING DATASET</div>
    </div>

    {% include 'footer.html' %}
</div>

<!-- AGGREGATE SEARCH MODAL -->
<div class="ui modal" id="modal-search-aggregate">
    <i class="close icon"></i>
    <div class="header">
        Search Aggregation Control
    </div>
    <div class="content">
        <div class="description">
        </div>
    </div>
    <div class="actions">
    </div>
</div>

<div id="container-verbatims-backup" style="display: none;">
    <ul></ul>
</div>

<!-- TAG VERBATIM MODAL -->
<div id="container-tagged-verbatims" class="ui long modal">
    <i class="close icon" style=""></i>

    <div class="header" style="">Tag Verbatim</div>
    <div class="content">
        <div class="description" style="">

            <!-- TAGS SEARCH BAR -->
            <div class="search-tag ui fluid search right labeled left icon input" style="width: 100%">
                <i class="tags icon"></i>
                <input id="input-tagged-verbatims" class="prompt" type="text" placeholder="Enter tags">
                <a class="ui tag label" style="background: #151515;color: white;" onclick="TaggerManager.addTag()">Add
                    Tag</a>
                <div class="results"></div>
            </div>
            <!-- LIST OF CURRENT TAGS -->
            <div class="tag-list"></div>

            <div style="height:700px;width:350px;"></div>
        </div>
    </div>
    <div class="actions"></div>
</div>

<!-- CLEAN VERBATIM MODAL -->
<div id="container-clean-verbatims" class="ui long modal">
    <i class="close icon" style=""></i>

    <div class="header" style="">

        <h3 class="ui header" style="text-align: right;">
            Verbatim Cleaner
            <div class="sub header">Here you can disable verbatims in order to reduce noise in your dataset</div>
        </h3>

        <div class="ui pointing secondary menu menu-tab-header">
            <a class="item active" data-tab="clean">Clean Verbatims</a>
            <a class="item" data-tab="preview">Review Changes</a>
        </div>
    </div>
    <div class="content" style="min-height:600px;">
        <div class="description" style="">
            <!-- CLEAN VERBATIMS  -->
            <div class="ui tab active" data-tab="clean">
                <div class="ui grid">
                    <!-- SEARCH BAR -->
                    <div class="twelve wide column">
                        <div class="ui action input" style="width:100%;">
                            <input class="input-search" type="text" placeholder="Search...">
                            <button class="ui icon button button-search">
                                <i class="search icon"></i>
                            </button>
                        </div>
                    </div>
                    <!-- SEARCH MODE DROPDOWN -->
                    <div class="four wide column">
                        <div class="ui floating dropdown labeled search grey icon button dropdown-search-mode">
                            <i class="options icon"></i>
                            <span class="text">Search Modes</span>
                            <div class="menu">
                                <div class="header"><i class="options icon"></i> Search Modes</div>
                                <div class="item" data-value="keyword">
                                    <div class="ui red empty circular label"></div>
                                    Keyword
                                </div>
                                <div class="item" data-value="text">
                                    <div class="ui green empty circular label"></div>
                                    Text
                                </div>
                                <div class="item" data-value="phrase">
                                    <div class="ui purple empty circular label"></div>
                                    Phases
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="ui header">Preview</h4>
                <div class="ui divider"></div>
                <!-- LIST OF CURRENT TAGS -->
                <div>
                    <div class="">
                        <span style="">Number of verbatims matched: </span>
                        <span class="count-verbatim" style="font-weight:bold;"></span>
                    </div>
                    <div class="list-verbatim ui relaxed divided list"
                         style="height:445px;overflow: auto;padding:10px;"></div>
                </div>

                <div class="two ui buttons">
                    <div class="ui red button trigger-disable-verbatims">
                        Disable Verbatims
                    </div>
                </div>
            </div>

            <!-- REVIEW CHANGES -->
            <div class="ui tab" data-tab="preview">
                <h3 style="position:relative;">
                    Cleaning Log
                    <i class="ui refresh blue icon cursor" style="position:absolute;top:3px;right:10px;"
                        onclick="VerbatimCleaner.updateReviewView()"></i>
                </h3>
                <div>
                    <div class="list-history ui relaxed divided list"
                         style="height:520px;overflow: auto;padding:10px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
    </div>
</div>

<!-- DATASET MODAL -->
<div id="container-dataset" class="ui modal" style="height:350px;">
    <i class="close icon"></i>
    <div class="header" style="color:grey;">Choose your Dataset</div>
    <div class="content">
        <div class="description">
            <form class="ui form" id="">
                <div class="field">
                    <h3>Project</h3>
                    <div class="ui fluid search selection dropdown dropdown-project">
                        <input type="hidden" name="project">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Project</div>
                        <div class="menu"></div>
                    </div>
                </div>
                <div class="field">
                    <h3>Datasets</h3>
                    <div class="ui fluid search selection dropdown dropdown-dataset">
                        <input type="hidden" name="dataset">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Dataset</div>
                        <div class="menu"></div>
                    </div>
                </div>
                <div class="ui error message visible">
                    <div class="header"></div>
                </div>
            </form>
        </div>
        <div class="actions" style="margin-top:50px;">
            <div class="two ui buttons">
                <div class="ui green button trigger-topic">
                    Go
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DOWNLOAD MODAL -->
<div id="container-download" class="ui basic modal">
    <i class="close icon"></i>
    <div class="header">
    </div>
    <div class="image content">
        <div class="image">
            <i class="download icon"></i>
        </div>
        <div class="description" style="">
            <a class="container-download-href" href="" target="_blank">
                <p class="done" style="color:white;font-size:25px;font-family:roboto-normal">
                    Your download is ready, click below to download the export!<br>
                    <button class="ui inverted green button">DOWNLOAD</button>
                </p>
                <p class="pending" style="color:white;font-size:25px;font-family:roboto-normal">
                    We are currently processing your export ... <br>
                    It will be ready in a few moments!
                </p>
            </a>
        </div>
    </div>
    <div class="actions">
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    var curr_location = 'verbatim'
</script>
<script src="/ext/d3.tip.v0.6.3.js"></script>
<script src="/js/core.js"></script>
<script src="/js/templates.js"></script>
<script src="/js/utils/topicmenu.js"></script>
<script src="/js/verbatims/search.js"></script>
<script src="/js/verbatims/searchaggregate.js"></script>
<script src="/js/verbatims/datasets.js"></script>
<script src="/js/verbatims/verbatimlist.js"></script>
<script src="/js/verbatims/favorite.js"></script>
<script src="/js/verbatims/wordcloud.js"></script>
<script src="/js/verbatims/tag.js"></script>
<script src="/js/verbatims/selectable.js"></script>
<script src="/js/verbatims/stats.js"></script>
<script src="/js/verbatims/clean.js"></script>
<script src="/js/verbatims.js"></script>
<script>
</script>
{% endblock %}