{% extends 'layout.html' %}

{% block title %} Wordclouds {% endblock %}

{% block styles %}

<style>
    html, body {
        height: 100%;
    }

    .ui.grid {
        height: 95%;
    }
</style>


{% endblock %}

{% block body %}

{% include 'sidebar.html' %}

<div class="pusher" style="height: 100%;background: #EEF0F2;">

    {% include 'header_old.html' %}

    <div class="ui grid" id="main-body">

        <div class="row" style="height:100%">
            <div id="main-container" class="four wide column" style="height:100%">
                <div class="ui grid" style="height:100%">
                    <div id="container-topics" class="sixteen wide column ar-container ar-border-right ar-border-bottom"
                         style="height: 100%;border-bottom:none !important;padding-left: 50px;">

                        <div class="ui list" id="container-topics-list"></div>
                    </div>
                </div>
            </div>
            <div id="container-wordcloud" class="twelve wide column ar-container" style="overflow:auto;">
                <div id="container-wordcloud-init-box" class="ui raised very padded text container segment"
                     style="margin-top: 5%">
                    <h2 class="ui header">Choose a Data Set </h2>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

</div>

{% endblock %}


{% block scripts %}
<script src="/js/wordclouds.js"></script>
{% endblock %}