

@font-face {
font-family: roboto;
src: url(/font/roboto/Roboto-Regular.ttf);
}
@font-face {
font-family: roboto-bold;
src: url(/font/roboto/RobotoCondensed-Bold.ttf);
}
@font-face {
font-family: roboto-normal;
src: url(/font/roboto/RobotoCondensed-Regular.ttf);
}
@font-face {
font-family: roboto-black;
src: url(/font/roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(/font/roboto/Roboto-Light.ttf)
}

@font-face {
font-family: helvetica-light;
//*src: url(/font/helvetica/Helvetica-Light.ttf);*//
src: url(/font/helvetica/HelveticaNeueLTStdLt.otf);
}
@font-face {
font-family: 'helvetica';
//*src: url(/font/helvetica/Helvetica-Light.ttf);*//
src: url(/font/helvetica/HelveticaNeueLTStdLt.otf);
}
@font-face {
font-family: helvetica-bold;
src: url(/font/helvetica/HelveticaNeue-ThinExtObl.otf);
}

@font-face {
    font-family: 'helvetica';
    src: url(/font/fontawesome/fontawesome-webfont.eot);
}

/*@font-face {*/
/*font-family: 'helvetica';*/
/*src: url(/font/fontawesome/fontawesome-webfont.svg);*/
/*}*/

@font-face {
    font-family: 'helvetica';
    src: url(/font/fontawesome/fontawesome-webfont.ttf);
}

@font-face {
    font-family: 'helvetica';
    src: url(/font/fontawesome/fontawesome-webfont.woff);
}

@font-face {
    font-family: 'helvetica';
    src: url(/font/helvetica/HelveticaNeueLTStdLt.otf);
}


.f-r-b{
    font-family: 'Roboto', serif !important;
}
.f-r-bb{
    font-family: 'Roboto', serif !important;
}
.f-r-bn{
    font-family: 'Roboto', serif !important;
}
.f-o-l{
    font-family: 'Open Sans', serif !important;
}

.f-h-l{
    font-family: 'helvetica', serif !important;
}
.f-h-b{
    font-family: 'helvetica', serif !important;
    font-weight: bold !important;
}



body{
    font-family: 'helvetica', serif !important;
}