body {
    /*overflow: hidden;*/
}

.cursor {
    cursor: pointer;
}

.ar-divider {
    width: 100%;
    height: 5px;
    margin: 0;
    padding: 0;
}
.ar-divider.large{
    height: 30px;
}

.ar-container {
}

.ar-border-right {
    border-right: 1px solid lightgrey;
}

.ar-border-bottom {
    border-bottom: 1px solid lightgrey;
}

.ar-selected {
    font-family: 'Roboto', serif !important;
    font-weight: bold !important;
}

#main-nav {
    color: red;
}

#container-wordcloud {
    position: relative;
}

.topic {
    font-size: 16px;
}

.topic:hover {
    font-weight: bold;
}

.topic.selected {
    font-weight: bold;
}

#container-popup {
    position: absolute;
    left: 0;
    bottom: 0;
    /*width: 100px;*/
    /*height: 100px;*/
    /*background: blue;*/
}

.wordcloud-container {

}

.ar-popup {
    padding: 10px 20px;
}

.ar-popup strong {
    font-size: 14px !important;
}

#container-verbatims {
    position: relative;
    right: 18px;
    overflow-y: auto;
    overflow-x: hidden;
}

#container-verbatims li {
    list-style: none;
}

.ar-found {
    color: blue !important;
    font-size: 16px !important;
    font-weight: bold !important;
}

#container-search {
}

#container-search-history {
    padding: 10px 10px;
    border-top: 1px solid #ECECEC;
    position: relative;
    overflow-x: hidden;;
}

#container-search-history li {
    list-style-type: none;
    cursor: pointer;
}

#container-search-history li:hover {
    font-weight: bold;
}

.ar-directory-item:hover {
    font-weight: bold;
}

.hover-bold:hover {
    font-weight: bold;
}

.ar-tag {
}

.ar-tag.ar-tag-unselected {
    color: lightgrey;
}

.ar-tag.ar-tag-selected {
    color: black;
}

.ar-tag-container {
    font-family: Roboto, serif;
    /*margin:1px 14px 1px 0;*/
}

.ar-tag-container.ar-selected {
    border: solid #0d71bb !important;
    /*margin: 0 10px 0 0;*/
}

.ar-tag-container.ar-associated .content {
    box-shadow: 0 0 15px #FFFF00;
}

#container-tagged-verbatims .description {
    padding: 0;
}

#container-tagged-verbatims li {
    list-style-type: none;
}

.ar-active {
    background-color: darkgreen !important;
    color: white !important;
}

.tag-container span {

}

#container-tagged-verbatims .tag-list{
    margin-top: 30px;
}

#container-tagged-verbatims .tag-list .label, .list-insight-tag .label {
    font-weight: bold;
    background: #151515;
    color: white;
    position: relative;
    margin-top: 18px;
}

#container-tagged-verbatims .tag-list .label i , .list-insight-tag .label i{
    position: absolute;
    top: -13px;
    right: -20px;
    font-size: 19px;
    color: maroon;
}

#tag-container .list {
    overflow-y: auto;
    overflow-x: hidden;
}

.pusher{
    /*background: #EEF0F2;*/
}
.wordcloud-container{
    background: #EEF0F2;
}

#container-wordcloud-nouns{
}

.verbatim-selected{
}

.verbatim-selected-options{
    padding: 10px 20px;
    background: white;
    border-top: solid 5px #767676;
}
.verbatim-selected-options::before{
    position: absolute;
    top: -10px;
    right: 19px;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 6px 5px;
    border-color: transparent transparent #767676 transparent;
}
/*.verbatim-selected-options::before{*/
    /*border-color: transparent transparent #63dfff transparent;*/
/*}*/


/* CUSTOM LOADER */


.hidden {
    display: none !important;
}

.loader-custom {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(83, 55, 55, 0.2);
    border-right: 1.1em solid rgba(83, 55, 55, 0.2);
    border-bottom: 1.1em solid rgba(83, 55, 55, 0.2);
    border-left: 1.1em solid #840F0F;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.loader-custom,
.loader-custom:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.masthead.segment {
    padding: 130px 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    /*margin-top: 3em;*/
    /*margin-bottom: 0em;*/
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.5em;
    font-weight: normal;
}

.cleaner-history td {
    padding: 2px !important;
}