<!DOCTYPE html>
<html lang="en" class="" style="height:100%;">
<head>
    <meta charset="utf-8"/>
    <title>InsightE | by TDS</title>
    <meta name="description"
          content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="/theme/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/theme/css/animate.css" type="text/css"/>
    <link rel="stylesheet" href="/theme/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="/theme/css/icon.css" type="text/css"/>
    <link rel="stylesheet" href="/theme/css/font.css" type="text/css"/>
    <link rel="stylesheet" href="/theme/css/app.css" type="text/css"/>
    <!--[if lt IE 9]>
    <script src="/theme/js/ie/html5shiv.js"></script>
    <script src="/theme/js/ie/respond.min.js"></script>
    <script src="/theme/js/ie/excanvas.js"></script>
    <![endif]-->
</head>
<body class="" style="height:100%;background-image:url('/img/background.jpg');background-size:cover;padding-top:50px;">
<section id="content" class="m-t-lg wrapper-md animated fadeInUp" style="margin-top:0;">
    <div class="container aside-xl">
        <a class="navbar-brand block" style="color:white;">InsightE</a>
        <section class="m-b-lg">
            <header class="wrapper text-center">
                <strong></strong>
            </header>
            <form action="/" method="post">
                <div class="list-group">
                    <div class="list-group-item">
                        <input type="text" name="username" placeholder="Username" class="form-control no-border">
                    </div>
                    <div class="list-group-item">
                        <input type="password" name="password" placeholder="Password" class="form-control no-border">
                    </div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
            </form>
            <div style="text-align: center;margin-top:12px;">
                <span style="color:white;">Forgot your password?
                    <a href="{{ 'reset_password'|route }}" style="color:#167ABA;">Reset your Password</a>
                </span>
            </div>
        </section>
        {% if message.length > 0 %}
        <div class="navbar-brand alert alert-danger" style="font-size:14px;width: 100%;">{{ message }}</div>
        {% endif %}
    </div>
</section>
<!-- footer -->
<footer id="footer">
    <div class="text-center padder">
        <p>
            <small></small>
        </p>
    </div>
</footer>
<!-- / footer -->
<script src="/theme/js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/theme/js/bootstrap.js"></script>
<!-- App -->
<script src="/theme/js/app.js"></script>
<script src="/theme/js/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/theme/js/app.plugin.js"></script>
</body>
</html>